// NOTE: Any CSS Custom Properties changes should also be made in themes/starter-theme/sass/variables.scss

// @TODO Look into replicating "Teach a System of Space Visually" as a Development page that shows all styling decisions for the brand https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7
:root{
    // FIXED COLOR PALETTE
    --color-transparent: transparent;
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --en-pagebuilder-background-color: #C1C0C0;

    // GRAYSCALE COLOR PALETTE
    --theme-off-white: #DFDFDF;
    --theme-light-gray: #BFBFBF;
    --theme-gray: #9F9F9F;
    --theme-dark-gray: #808080;
    --theme-off-black: #404040;

    // SEMANTIC COLOR PALETTE
    --theme-success: #33CC33;
    --theme-warning: #FCAC00;
    --theme-error: #F12222;

     // SEMANTIC GEOMETRIC SCALING
     --scale-up-20pct: 1.2;
     --scale-up-40pct: 1.4;
     --scale-up-80pct: 1.8;
     --scale-up-160pct: 2.6;
     --scale-down-20pct: 0.8;
     --scale-down-40pct: 0.6;
     --scale-down-80pct: 0.2;

    // FONT STACKS
    --theme-font-stack-browser-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    // TYPOGRAPHY DEFAULT
    --theme-typography-default-font-family: var(--theme-font-stack-browser-fonts);
    --theme-typography-default-color: initial;
    --theme-typography-default-font-size: var(--theme-root-font-size);
    --theme-typography-default-font-weight: initial;
    --theme-typography-default-line-height: initial;
        
    // TYPOGRAPHY H1
    --theme-typography-h1-font-family: var(--theme-font-stack-browser-fonts);
    --theme-typography-h1-color: initial;
    --theme-typography-h1-font-size: calc(var(--theme-root-font-size) * var(--scale-up-160pct));
    --theme-typography-h1-font-weight: initial;
    --theme-typography-h1-line-height: initial;
        
    // TYPOGRAPHY H2
    --theme-typography-h2-font-family: var(--theme-typography-h1-font-family);
    --theme-typography-h2-color: initial;
    --theme-typography-h2-font-size: calc(var(--theme-root-font-size) * var(--scale-up-80pct));
    --theme-typography-h2-font-weight: initial;
    --theme-typography-h2-line-height: initial;
        
    // TYPOGRAPHY H3
    --theme-typography-h3-font-family: var(--theme-typography-h1-font-family);
    --theme-typography-h3-color: initial;
    --theme-typography-h3-font-size: calc(var(--theme-root-font-size) * var(--scale-up-40pct));
    --theme-typography-h3-font-weight: initial;
    --theme-typography-h3-line-height: initial;
        
    // TYPOGRAPHY P
    --theme-typography-p-font-family: var(--theme-typography-default-font-family);
    --theme-typography-p-color: initial;
    --theme-typography-p-font-size: var(--theme-root-font-size);
    --theme-typography-p-font-weight: initial;
    --theme-typography-p-line-height: initial;
        
    // TYPOGRAPHY LABEL
    --theme-typography-label-font-family: var(--theme-typography-default-font-family);
    --theme-typography-label-color: initial;
    --theme-typography-label-font-size: var(--theme-root-font-size);
    --theme-typography-label-font-weight: initial;
    --theme-typography-label-line-height: initial;
        
    // TYPOGRAPHY INPUT
    --theme-typography-input-font-family: var(--theme-typography-default-font-family);
    --theme-typography-input-color: initial;
    --theme-typography-input-font-size: var(--theme-root-font-size);
    --theme-typography-input-font-weight: initial;
    --theme-typography-input-line-height: initial;
    --theme-typography-input-background-color: var(--color-white);
    --theme-typography-input-border-width: 1px;
    --theme-typography-input-border-color: var(--color-black);
    --theme-typography-input-border-radius: initial;
    --theme-typography-input-placeholder-color: var(--theme-light-gray);
    --theme-typography-input-box-shadow: inset 0 1px 2px var(--theme-light-gray);
        
    // TYPOGRAPHY INPUT:FOCUS
    // TYPOGRAPHY INPUT:HOVER
    --theme-typography-input-hover-color: var(--theme-typography-input-color);
    --theme-typography-input-hover-background-color: var(--theme-typography-input-background-color);
    --theme-typography-input-hover-border-color: var(--theme-cta);
    --theme-typography-input-hover-border-bottom-color: var(--theme-typography-input-hover-border-color);
    --theme-typography-input-hover-box-shadow: 0 0 0.3125rem var(--theme-light-gray);
        
    // TYPOGRAPHY RADIO
    --theme-typography-radio-content: initial;
    --theme-typography-radio-color: var(--theme-cta);
    --theme-typography-radio-background-color: var(--color-white);
    --theme-typography-radio-border-width: 1px;
    --theme-typography-radio-border-color: var(--color-black);
    --theme-typography-radio-border-radius: 50%;

    // TYPOGRAPHY RADIO INPUT:FOCUS
    // TYPOGRAPHY RADIO INPUT:HOVER
    --theme-typography-radio-hover-color: var(--theme-typography-radio-color);
    --theme-typography-radio-hover-background-color: var(--theme-typography-radio-background-color);
    --theme-typography-radio-hover-border-color: var(--theme-typography-radio-border-color);

    // TYPOGRAPHY RADIO INPUT:CHECKED
    --theme-typography-radio-selected-color: var(--theme-typography-radio-background-color);
    --theme-typography-radio-selected-background-color: var(--theme-cta);
    --theme-typography-radio-selected-border-color: var(--theme-typography-radio-border-color);

    // TYPOGRAPHY CHECKBOX
    --theme-typography-checkbox-color: var(--color-white);
    --theme-typography-checkbox-background-color: var(--color-white);
    --theme-typography-checkbox-border-width: 1px;
    --theme-typography-checkbox-border-color: var(--theme-black);
    --theme-typography-checkbox-border-radius: 50%;

    // TYPOGRAPHY CHECKBOX INPUT:FOCUS
    // TYPOGRAPHY CHECKBOX INPUT:HOVER
    --theme-typography-checkbox-hover-color: var(--theme-typography-checkbox-color);
    --theme-typography-checkbox-hover-background-color: var(--theme-typography-checkbox-background-color);
    --theme-typography-checkbox-hover-border-color: var(--theme-typography-checkbox-border-color);

    // TYPOGRAPHY CHECKBOX INPUT:CHECKED
    --theme-typography-checkbox-checked-content:"✓";
    --theme-typography-checkbox-checked-color: var(--theme-typography-checkbox-background-color);
    --theme-typography-checkbox-checked-background-color: var(--theme-cta);
    --theme-typography-checkbox-checked-border-color: var(--theme-typography-checkbox-border-color);

    // TYPOGRAPHY SELECT
    --theme-typography-select-font-family: var(--theme-typography-default-font-family);
    --theme-typography-select-color: var(--color-black);
    --theme-typography-select-font-size: var(--theme-root-font-size);
    --theme-typography-select-font-weight: initial;
    --theme-typography-select-line-height: initial;
    --theme-typography-select-background-color: var(--color-white);
    --theme-typography-select-border-width: 1px;
    --theme-typography-select-border-color: var(--color-black);
    --theme-typography-select-border-radius: initial;
    --theme-typography-select-box-shadow: var(--theme-typography-input-box-shadow);

    // TYPOGRAPHY SELECT:FOCUS
    // TYPOGRAPHY SELECT:HOVER
    --theme-typography-select-hover-color: var(--theme-typography-select-color);
    --theme-typography-select-hover-background-color: var(--theme-typography-select-background-color);
    --theme-typography-select-hover-border-color: var(--theme-cta-hover);
    --theme-typography-select-hover-border-bottom-color: var(--theme-typography-select-hover-border-color);
    --theme-typography-select-hover-box-shadow: var(--theme-typography-input-hover-box-shadow);

    // TYPOGRAPHY TEXTAREA
    --theme-typography-textarea-font-family: var(--theme-typography-default-font-family);
    --theme-typography-textarea-color: initial;
    --theme-typography-textarea-font-size: var(--theme-root-font-size);
    --theme-typography-textarea-font-weight: initial;
    --theme-typography-textarea-line-height: initial;
    --theme-typography-textarea-background-color: var(--color-white);
    --theme-typography-textarea-border-width: 1px;
    --theme-typography-textarea-border-color: var(--color-black);
    --theme-typography-textarea-border-radius: initial;
    --theme-typography-textarea-placeholder-color: var(--theme-light-gray);
    --theme-typography-textarea-box-shadow: var(--theme-typography-input-box-shadow);
        
    // TYPOGRAPHY TEXTAREA:FOCUS
    // TYPOGRAPHY TEXTAREA:HOVER
    --theme-typography-textarea-hover-color: var(--theme-typography-textarea-color);
    --theme-typography-textarea-hover-background-color: var(--theme-typography-textarea-background-color);
    --theme-typography-textarea-hover-border-color: var(--theme-cta);
    --theme-typography-textarea-hover-box-shadow: var(--theme-typography-input-hover-box-shadow);

    // TYPOGRAPHY BUTTON
    --theme-typography-button-font-family: var(--theme-typography-default-font-family);
    --theme-typography-button-color: var(--color-white);
    --theme-typography-button-font-size: var(--theme-root-font-size);
    --theme-typography-button-font-weight: initial;
    --theme-typography-button-line-height: initial;
    --theme-typography-button-background-color: var(--color-black);
    --theme-typography-button-border-width: initial;
    --theme-typography-button-border-color: var(--color-black);
    --theme-typography-button-border-radius: initial;
    
     // TYPOGRAPHY BUTTON:HOVER
    --theme-typography-button-hover-color: var(--theme-typography-button-color);
    --theme-typography-button-hover-background-color: var(--theme-cta-hover);
    --theme-typography-button-hover-border-color: var(--theme-cta-hover);

    // TYPOGRAPHY BUTTON:CHECKED
    --theme-typography-button-checked-color: var(--theme-typography-button-color);
    --theme-typography-button-checked-background-color: var(--theme-cta-hover);
    --theme-typography-button-checked-border-color: var(--theme-cta-hover);
   
    // TYPOGRAPHY GIVING FREQUENCY BUTTON
    --theme-typography-recurring-frequency-button-font-family: var(--theme-typography-button-font-family);
    --theme-typography-recurring-frequency-button-color: var(--theme-typography-button-color);
    --theme-typography-recurring-frequency-button-font-size: var(--theme-typography-button-font-size);
    --theme-typography-recurring-frequency-button-font-weight: var(--theme-typography-button-font-weight);
    --theme-typography-recurring-frequency-button-line-height: var(--theme-typography-button-line-height);
    --theme-typography-recurring-frequency-button-background-color: var(--theme-typography-button-background-color);
    --theme-typography-recurring-frequency-button-border-width: var(--theme-typography-button-border-width);
    --theme-typography-recurring-frequency-button-border-color: var(--theme-typography-button-border-color);
    --theme-typography-recurring-frequency-button-border-radius: var(--theme-typography-button-border-radius);

    // TYPOGRAPHY GIVING FREQUENCY BUTTON:HOVER  
    --theme-typography-recurring-frequency-button-hover-color: var(--theme-typography-button-hover-color);
    --theme-typography-recurring-frequency-button-hover-background-color: var(--theme-typography-button-hover-background-color);
    --theme-typography-recurring-frequency-button-hover-border-color: var(--theme-typography-button-hover-border-color);    

    // TYPOGRAPHY GIVING FREQUENCY BUTTON:CHECKED
    --theme-typography-recurring-frequency-button-checked-color: var(--theme-typography-button-hover-color);
    --theme-typography-recurring-frequency-button-checked-background-color: var(--theme-typography-button-hover-background-color);
    --theme-typography-recurring-frequency-button-checked-border-color: var(--theme-typography-button-hover-border-color);   

    // TYPOGRAPHY GIVING AMOUNT BUTTON
    --theme-typography-donation-amount-button-font-family: var(--theme-typography-button-font-family);
    --theme-typography-donation-amount-button-color: var(--theme-typography-button-color);
    --theme-typography-donation-amount-button-font-size: var(--theme-typography-button-font-size);
    --theme-typography-donation-amount-button-font-weight: var(--theme-typography-button-font-weight);
    --theme-typography-donation-amount-button-line-height: var(--theme-typography-button-line-height);
    --theme-typography-donation-amount-button-background-color: var(--theme-typography-button-background-color);
    --theme-typography-donation-amount-button-border-width: var(--theme-typography-button-border-width);
    --theme-typography-donation-amount-button-border-color: var(--theme-typography-button-border-color);
    --theme-typography-donation-amount-button-border-radius: var(--theme-typography-button-border-radius);

    // TYPOGRAPHY GIVING AMOUNT BUTTON:HOVER  
    --theme-typography-donation-amount-button-hover-color: var(--theme-typography-button-hover-color);
    --theme-typography-donation-amount-button-hover-background-color: var(--theme-typography-button-hover-background-color);
    --theme-typography-donation-amount-button-hover-border-color: var(--theme-typography-button-hover-border-color);  

    // TYPOGRAPHY GIVING AMOUNT BUTTON:CHECKED
    --theme-typography-donation-amount-button-checked-color: var(--theme-typography-button-hover-color);
    --theme-typography-donation-amount-button-checked-background-color: var(--theme-typography-button-hover-background-color);
    --theme-typography-donation-amount-button-checked-border-color: var(--theme-typography-button-hover-border-color);  

    // TYPOGRAPHY GIVE BY SELECT BUTTON
    --theme-typography-give-by-select-button-font-family: var(--theme-typography-button-font-family);
    --theme-typography-give-by-select-button-color: var(--theme-typography-button-color);
    --theme-typography-give-by-select-button-font-size: var(--theme-typography-button-font-size);
    --theme-typography-give-by-select-button-font-weight: var(--theme-typography-button-font-weight);
    --theme-typography-give-by-select-button-line-height: var(--theme-typography-button-line-height);
    --theme-typography-give-by-select-button-background-color: var(--theme-typography-button-background-color);
    --theme-typography-give-by-select-button-border-width: var(--theme-typography-button-border-width);
    --theme-typography-give-by-select-button-border-color: var(--theme-typography-button-border-color);
    --theme-typography-give-by-select-button-border-radius: var(--theme-typography-button-border-radius);

    // TYPOGRAPHY GIVE BY SELECT BUTTON:HOVER  
    --theme-typography-give-by-select-button-hover-color: var(--theme-typography-button-hover-color);
    --theme-typography-give-by-select-button-hover-background-color: var(--theme-typography-button-hover-background-color);
    --theme-typography-give-by-select-button-hover-border-color: var(--theme-typography-button-hover-border-color);
 
    // TYPOGRAPHY GIVE BY SELECT BUTTON:CHECKED
    --theme-typography-give-by-select-button-checked-color: var(--theme-typography-button-hover-color);
    --theme-typography-give-by-select-button-checked-background-color: var(--theme-typography-button-hover-background-color);
    --theme-typography-give-by-select-button-checked-border-color: var(--theme-typography-button-hover-border-color);   

    // TYPOGRAPHY A
    --theme-typography-a-font-family: var(--theme-typography-default-font-family);
    --theme-typography-a-color: initial;
    --theme-typography-a-text-decoration: initial;

    // TYPOGRAPHY A:FOCUS
    // TYPOGRAPHY A:HOVER
    --theme-typography-a-hover-color: var(--theme-typography-a-color);
    --theme-typography-a-hover-text-decoration: initial;

    // CTA COLORS
    --theme-cta: #0070BA;
    --theme-cta-hover: #22a3cb;

    // ENGRID SECTIONS BACKGROUND COLOR
    // QUICK SETTINGS
    --theme-page-background-color: var(--color-transparent);
    --theme-content-background-color: var(--color-transparent);
    --theme-body-background-color: var(--color-white);
    // DETAIL SETTINGS
    --theme-page-alert-background-color: var(--theme-page-background-color);
    --theme-content-header-background-color: var(--theme-content-background-color);
    --theme-body-headerOutside-background-color: var(--color-transparent);
    --theme-body-header-background-color: var(--theme-body-background-color);
    --theme-body-title-background-color: var(--theme-body-background-color);
    --theme-body-banner-background-color: var(--theme-body-background-color);
    --theme-body-bannerOverlay-background-color: var(--color-transparent);
    --theme-body-top-background-color: var(--theme-body-background-color);
    --theme-body-side-background-color: var(--theme-body-background-color);
    --theme-body-main-background-color: var(--theme-body-background-color);
    --theme-body-bottom-background-color: var(--theme-body-background-color);
    --theme-body-footer-background-color: var(--theme-body-background-color);
    --theme-body-footerOutside-background-color: var(--color-transparent);
    --theme-content-footerSpacer-background-color: var(--theme-content-background-color);
    --theme-content-preFooter-background-color: var(--theme-content-background-color);
    --theme-content-footer-background-color: var(--theme-content-background-color);
    --theme-page-backgroundImage-background-color: var(--theme-page-background-color);
    --theme-page-backgroundImageOverlay-background-color: var(--color-transparent);
    --theme-page-customCode-background-color: var(--theme-page-background-color);

    // ENGRID SECTIONS PADDING
    // QUICK SETTINGS
    --theme-page-padding: 0px;
    --theme-content-padding: 0px;
    --theme-body-padding: 0px var(--theme-spacing-lg);
    // DETAIL SETTINGS
    --theme-page-alert-padding: var(--theme-page-padding);
    --theme-content-header-padding: var(--theme-content-padding);
    --theme-body-headerOutside-padding: var(--theme-body-padding);
    --theme-body-header-padding: var(--theme-body-padding);
    --theme-body-title-padding: var(--theme-body-padding);
    --theme-body-banner-padding: 0px;
    --theme-body-bannerOverlay-padding: var(--theme-body-padding);
    --theme-body-top-padding: var(--theme-body-padding);
    --theme-body-side-padding: var(--theme-body-padding);
    --theme-body-main-padding: var(--theme-body-padding);
    --theme-body-bottom-padding: var(--theme-body-padding);
    --theme-body-footer-padding: var(--theme-body-padding);
    --theme-body-footerOutside-padding: var(--theme-body-padding);
    --theme-content-footerSpacer-padding: var(--theme-content-padding);
    --theme-content-preFooter-padding: var(--theme-content-padding);
    --theme-content-footer-padding: var(--theme-content-padding);
    --theme-page-backgroundImage-padding: 0px;
    --theme-page-backgroundImageOverlay-padding: var(--theme-page-padding);
    --theme-page-customCode-padding: var(--theme-page-padding);    

    // ENGRID SECTIONS MARGIN
    // QUICK SETTINGS
    --theme-page-margin: 0px;
    --theme-content-margin: 0px;
    --theme-body-margin: 0px;
    // DETAIL SETTINGS
    --theme-page-alert-margin: var(--theme-page-margin);
    --theme-content-header-margin: var(--theme-content-margin);
    --theme-body-headerOutside-margin: var(--theme-body-margin);
    --theme-body-header-margin: var(--theme-body-margin);
    --theme-body-title-margin: var(--theme-body-margin);
    --theme-body-banner-margin: var(--theme-body-margin);
    --theme-body-bannerOverlay-margin: var(--theme-body-margin);
    --theme-body-top-margin: var(--theme-body-margin);
    --theme-body-side-margin: var(--theme-body-margin);
    --theme-body-main-margin: var(--theme-body-margin);
    --theme-body-bottom-margin: var(--theme-body-margin);
    --theme-body-footer-margin: var(--theme-body-margin);
    --theme-body-footerOutside-margin: var(--theme-body-margin);
    --theme-content-footerSpacer-margin: var(--theme-content-margin);
    --theme-content-preFooter-margin: var(--theme-content-margin);
    --theme-content-footer-margin: var(--theme-content-margin);
    --theme-page-backgroundImage-margin: var(--theme-page-margin);
    --theme-page-backgroundImageOverlay-margin: var(--theme-page-margin);
    --theme-page-customCode-margin: var(--theme-page-margin);   

    // LAZY LOADED BANNER IMAGE PLACEHOLDER COLOR
    --theme-body-banner-image-background-color: var(--color-transparent);

    // BODY BORDER RADIUS
    --theme-body-border-radius: 0px;
    
    // ENGRID BACKGROUND IMAGE SECTION'S BACKGROUND PATTERN
    // This is a background pattern that is shown before the hi-resolution background image is lazy loaded in, if at all
    // It's background color "--theme-page-backgroundImage-background-color" should be the average color of the image 
    // REF: (https://doodad.dev/pattern-generator/)
    --theme-page-backgroundImage-background-pattern: "url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"; // Invisible GIF

    // REF: http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/
    --theme-root-font-size: 16px; // Sets a baseline font size for all other REM based font-sizes to relatively build off of

    --theme-page-backgroundImage-url: "url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"; // Invisible GIF

    // @TODO Revisit these spacing values and calculations
    // @BODY Look into replicating "Teach a System of Space Visually" as a Development page that shows all styling decisions for the brand https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7
    --theme-spacing-sm: 0.8652rem;
    --theme-spacing: calc(0.8652rem * 0.75);
    --theme-spacing-lg: calc(0.8652rem * 2.5);
    --theme-spacing-xlg: calc(0.8652rem * 5);

    // ERRORS
    --theme-error-red: var(--theme-error);
    --theme-error-red-grayscale: #949494;
    --theme-error-red-faded: #FFEAE9;
    --theme-error-page-group-background: #FFEAE9;
    --theme-error-input-border-width: var(--theme-typography-input-border-width);

    // HIGHLIGHTS
    --theme-highlight-background-color: #227F9E;
    --theme-highlight-font-color: #FFFFFF;

    // CLICK TO EXPAND
    --theme-click-to-expand-copy-total-height: 450px;
    --theme-click-to-expand-cta-image-url: url("https://e-activist.com/ea-demo/frontend/pbAssets/build/images/en_open.png");
    --theme-click-to-expand-cta-image-width: 16px;
    --theme-click-to-expand-cta-image-height: 16px;

    // LABEL APPENDED TO DONTIONAL GIVING AMOUNTS BASED ON GIVING FREQUENCY
    --give-monthly-donation-amount-appended-label: "/mo";
    --give-annual-donation-amount-appended-label: "/yr";

    // IMAGE ATTRIBUTION OVERLAY
    --theme-media-attribution-overlay-font-family: var(--theme-typography-default-font-family);
    --theme-media-attribution-overlay-color: rgba(255, 255, 255, 0.9);
    --theme-media-attribution-overlay-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    --theme-media-attribution-overlay-font-size: 75%; 
    --theme-media-attribution-overlay-font-style: normal; 
    --theme-media-attribution-overlay-font-weight: bold;
    --theme-media-attribution-overlay-text-transform: none;
    --theme-media-attribution-overlay-margin: 1.25ch 1.5ch;
    --theme-media-attribution-overlay-padding: 1.25ch 1.5ch;
    --theme-media-attribution-overlay-background-color: rgba(0, 0, 0, 0.3);    

    // ADD THEME CUSTOM CSS PROPERTIES HERE
}
  