/*
* ####################################################################################################################
* # ENGRID Layout - Left Left 1 Column
* ####################################################################################################################
*/

$leftleft1col_content-column_max-width: $one_col_content-column_max-width !default; // Overridable in client theme
$leftleft1col_content-column_min-width: $one_col_content-column_min-width !default; // Overridable in client theme
$leftleft1col_body-column_max-width: $one_col_body-column_max-width !default; // Overridable in client theme

[data-engrid-layout="leftleft1col"] {

  @media screen and (min-width: $leftleft1col_content-column_min-width) {
    /* prettier-ignore */
    .en__component--advrow,
    .en__component--advrow .pseudo-subgrid {
      grid-template-columns:
      [
        pc-start lpc-start]  minmax(0px, 0px)                         [lpc-end
        cc-start lcc-start]  minmax(0px, 0px)                         [lcc-end
        bc-start lbc-start]  $leftleft1col_body-column_max-width / 2  [lbc-end
        rbc-start]           $leftleft1col_body-column_max-width / 2  [rbc-end bc-end
        rcc-start]           minmax(0px, 0px)                         [rcc-end cc-end
        rpc-start]           minmax(0px, 1fr)                         [rpc-end pc-end            
      ]; 
    }

    &body:not(#en__pagebuilder) .page-backgroundImage {
      grid-row: page-start / content-footer-end;
      grid-column: rcc-start / pc-end;
    }
  }

  @media screen and (max-width: $leftleft1col_content-column_min-width) {
    @include background-image-small-device;
  }
}