/*
* ####################################################################################################################
* # ENGRID Layout - Center Right 1 Column
* ####################################################################################################################
*/

$centerright1col_content-column_max-width: $one_col_content-column_max-width !default; // Overridable in client theme
$centerright1col_content-column_min-width: $one_col_content-column_min-width !default; // Overridable in client theme
$centerright1col_content-column_min-width_minus-1px: $centerright1col_content-column_min-width -
  1px;
$centerright1col_body-column_max-width: $one_col_body-column_max-width !default; // Overridable in client theme
$centerright1col_body-column_min-width: $one_col_body-column_min-width !default; // Overridable in client theme
$centerright1col_body-column_offset-width: $one_col_body-column_offset-width !default; // Overridable in client theme
$centerright1col_body-column_offset-width-remaining: $centerright1col_content-column_max-width -
  $centerright1col_body-column_max-width -
  $centerright1col_body-column_offset-width;

@media screen and (min-width: $centerright1col_content-column_min-width) {
  [data-engrid-layout="centerright1col"] {
    /* prettier-ignore */
    form > .en__component--advrow,
    #engrid > .en__component--advrow{
      grid-template-columns:
      [
        pc-start lpc-start]  minmax(0px, 1fr)                                                                                [lpc-end
        cc-start lcc-start]  minmax(0px, $centerright1col_body-column_offset-width-remaining)                                [lcc-end
        bc-start lbc-start]  minmax(calc($centerright1col_body-column_min-width / 2), calc($centerright1col_body-column_max-width / 2))  [lbc-end
        rbc-start]           minmax(calc($centerright1col_body-column_min-width / 2), calc($centerright1col_body-column_max-width / 2))  [rbc-end bc-end
        rcc-start]           minmax(0px, $centerright1col_body-column_offset-width)                                          [rcc-end cc-end
        rpc-start]           minmax(0px, 1fr)                                                                                [rpc-end pc-end            
      ]; 
    }

    form > .en__component--advrow > * {
      grid-template-columns:
        [
        pc-start lpc-start] minmax(0px, 1fr) [lpc-end
        cc-start lcc-start] minmax(
          0px,
          $centerright1col_body-column_offset-width-remaining
        )
        [lcc-end
        bc-start lbc-start] minmax(
          0px,
          calc($centerright1col_body-column_max-width / 2)
        )
        [lbc-end
        rbc-start] minmax(0px, calc($centerright1col_body-column_max-width / 2))
        [rbc-end bc-end
        rcc-start] minmax(0px, $centerright1col_body-column_offset-width)
        [rcc-end cc-end
        rpc-start] minmax(0px, 1fr) [rpc-end pc-end
        ];
    }

    &:not(#en__pagebuilder) .page-backgroundImage {
      grid-row: page-start / content-footerSpacer-end;
    }

    @include engrid_hide-background-on-desktop;
  }

  @media screen and (max-width: $centerright1col_content-column_min-width_minus-1px) {
    @include engrid_replace-banner-with-background("centerright1col");
    @include engrid_mobile-banner;
    @include engrid_embedded-mobile-body;
    @include remove-body-drop-shadow("centerright1col");
  }
}
