/*
* ####################################################################################################################
* # ENGRID Layout - Center Center 1 Column
* ####################################################################################################################
*/

$centercenter1col_content-column_max-width: $one_col_content-column_max-width !default; // Overridable in client theme
$centercenter1col_content-column_min-width: $one_col_content-column_min-width !default; // Overridable in client theme
$centercenter1col_content-column_min-width_minus-1px: $centercenter1col_content-column_min-width -
  1px;
$centercenter1col_body-column_max-width: $one_col_body-column_max-width !default; // Overridable in client theme
$centercenter1col_body-column_min-width: $one_col_body-column_min-width !default; // Overridable in client theme
$centercenter1col_body-column_offset-width: calc(
  (
      $centercenter1col_content-column_max-width -
        $centercenter1col_body-column_max-width
    ) / 2
);
$centercenter1col_body-column_offset-width-remaining: $centercenter1col_content-column_max-width -
  $centercenter1col_body-column_max-width -
  $centercenter1col_body-column_offset-width;

[data-engrid-layout="centercenter1col"] {
  @media screen and (min-width: $centercenter1col_content-column_min-width) {
    /* prettier-ignore */
    form > .en__component--advrow,
    #engrid > .en__component--advrow{
      grid-template-columns:
      [
        pc-start lpc-start]  minmax(0px, 1fr)                                                                                  [lpc-end
        cc-start lcc-start]  minmax(0px, $centercenter1col_body-column_offset-width)                                           [lcc-end
        bc-start lbc-start]  minmax(calc($centercenter1col_body-column_min-width / 2), calc($centercenter1col_body-column_max-width / 2))  [lbc-end
        rbc-start]           minmax(calc($centercenter1col_body-column_min-width / 2), calc($centercenter1col_body-column_max-width / 2))  [rbc-end bc-end
        rcc-start]           minmax(0px, $centercenter1col_body-column_offset-width-remaining)                                 [rcc-end cc-end
        rpc-start]           minmax(0px, 1fr)                                                                                  [rpc-end pc-end                 
      ]; 
    }

    form > .en__component--advrow > * {
      grid-template-columns:
        [
        pc-start lpc-start] minmax(0px, 1fr) [lpc-end
        cc-start lcc-start] minmax(
          0px,
          $centercenter1col_body-column_offset-width
        )
        [lcc-end
        bc-start lbc-start] minmax(
          0px,
          calc($centercenter1col_body-column_max-width / 2)
        )
        [lbc-end
        rbc-start] minmax(
          0px,
          calc($centercenter1col_body-column_max-width / 2)
        )
        [rbc-end bc-end
        rcc-start] minmax(
          0px,
          $centercenter1col_body-column_offset-width-remaining
        )
        [rcc-end cc-end
        rpc-start] minmax(0px, 1fr) [rpc-end pc-end
        ];
    }

    form > .en__component--advrow,
    #engrid > .en__component--advrow {
      grid-template-rows:
        [
        page-start page-alert-start] min-content [page-alert-end
        content-header-start] min-content [content-header-end
        body-headerOutside-start] min-content [body-headerOutside-end
        body-header-start] min-content [body-header-end
        body-banner-start] min-content [body-banner-end
        body-bannerOverlay-start] min-content [body-bannerOverlay-end
        body-title-start] min-content [body-title-end
        body-top-start] min-content [body-top-end
        body-side-start] min-content [body-side-end
        body-main-start] min-content [body-main-end
        body-bottom-start] min-content [body-bottom-end
        body-footer-start] min-content [body-footer-end
        body-footerOutside-start] min-content [body-footerOutside-end
        content-footerSpacer-start] minmax(0px, 1fr) [content-footerSpacer-end
        content-preFooter-start] min-content [content-preFooter-end
        content-footer-start] min-content [content-footer-end
        page-backgroundImage-start] min-content [page-backgroundImage-end
        page-backgroundImageOverlay-start] min-content [page-backgroundImageOverlay-end page-end
        page-customCode-start] min-content [page-customCode-end
        ];
    }

    &:not(#en__pagebuilder) .page-backgroundImage {
      grid-row: page-start / content-footerSpacer-end;
    }

    @include engrid_hide-background-on-desktop;
  }

  @media screen and (max-width: $centercenter1col_content-column_min-width_minus-1px) {
    @include engrid_replace-banner-with-background("centercenter1col");
    @include engrid_mobile-banner;
    @include engrid_embedded-mobile-body;
    @include remove-body-drop-shadow("centercenter1col");
  }
}
