// The Custom Properties defined here should no longer be used.
// This is maintained to provide as much backwards compatability as possible by mapping them to a replacement
[data-engrid-theme] {
  --color_cta: var(--color_primary);
  --color_cta_hover: var(--color_primary_overlay);
  --page-backgroundImage-url: var(--engrid__page-backgroundImage_url);
  --engrid__body-side_background-color: var(
    --engrid__body-main_background-color
  );
  --engrid__body-side_margin: var(--engrid__body-main_margin);
  --engrid__body-side_padding: var(--engrid__body-main_padding);
  --root_font-size: 16px;
}
