[data-engrid-has-lightbox] {
  overflow: hidden;
}
#enModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2147483645;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100%;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll; // Scroll vertically (used when modal contents are larger than the viewport)
  overflow-x: hidden; // Do not scroll horizontally

  &.is-hidden {
    top: -500vh;
    transition: none; /* When the modal gains the "is-hidden" class it will dissapear instantly */
  }

  &.image-right {
    #goMonthly {
      grid-template-columns: 1fr minmax(0, 480px) !important;
    }

    .background {
      grid-column: 2;
      grid-row: 1;
    }

    .upsellLightboxContent {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &.is-submitting {
    .loader-wrapper {
      visibility: visible !important;
    }

    span.label {
      visibility: hidden;
    }

    #upsellYesButton a,
    #upsellNoButton button {
      background-color: #ccc;
      border-color: #ccc;
    }
  }
}

#goMonthly {
  position: relative;
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(0, 480px) 1fr;
  grid-gap: 0;
  max-width: 960px;
  margin: auto;
  border-radius: var(--button_border-radius);
  overflow: hidden;
  border: 1px solid #333;

  @media only screen and (max-width: 675px) {
    display: block;
  }

  .upsellLightboxContent {
    padding: 30px;
    min-width: 375px;
    @media only screen and (max-width: 675px) {
      min-width: auto;
      width: auto;
    }
  }

  .background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and (max-width: 675px) {
      display: none;
    }
  }

  h1 {
    margin-top: 0;
    .upsell_suggestion {
      font-weight: 700;
    }
  }

  .upsellOtherAmountLabel {
    p {
      margin: 10px 0;
    }
  }

  .upsellOtherAmount {
    display: flex;
    align-items: center;
    gap: 15px;
    .upsellOtherAmountInput {
      position: relative;
      small {
        opacity: 0;
        display: block;
        text-align: center;
        position: absolute;
        bottom: 40px;
        font-size: 0.75rem;
        transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
        border-bottom-left-radius: var(--input_border-radius);
        border-bottom-right-radius: var(--input_border-radius);
        background-color: var(--error__color);
        color: var(--color_white);
        padding: 2px;
        width: 100%;
      }
      &.is-invalid {
        small {
          opacity: 1;
          bottom: -22px;
        }
      }
    }
  }

  #secondOtherField {
    width: 80px;
    height: 40px;
    padding-left: 20px !important;
    box-sizing: border-box;
    background-image: url('data:image/svg+xml,<svg id="SvgjsSvg1011" width="288" height="288" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"><defs id="SvgjsDefs1012"></defs><g id="SvgjsG1013" transform="matrix(0.9167,0,0,0.9167,11.988296888732918,11.995200000000011)"><svg xmlns="http://www.w3.org/2000/svg" width="288" height="288" viewBox="0 0 1792 1792"><path d="M1362 1185q0 153-99.5 263.5t-258.5 136.5v175q0 14-9 23t-23 9h-135q-13 0-22.5-9.5t-9.5-22.5v-175q-66-9-127.5-31t-101.5-44.5-74-48-46.5-37.5-17.5-18q-17-21-2-41l103-135q7-10 23-12 15-2 24 9l2 2q113 99 243 125 37 8 74 8 81 0 142.5-43t61.5-122q0-28-15-53t-33.5-42-58.5-37.5-66-32-80-32.5q-39-16-61.5-25t-61.5-26.5-62.5-31-56.5-35.5-53.5-42.5-43.5-49-35.5-58-21-66.5-8.5-78q0-138 98-242t255-134v-180q0-13 9.5-22.5t22.5-9.5h135q14 0 23 9t9 23v176q57 6 110.5 23t87 33.5 63.5 37.5 39 29 15 14q17 18 5 38l-81 146q-8 15-23 16-14 3-27-7-3-3-14.5-12t-39-26.5-58.5-32-74.5-26-85.5-11.5q-95 0-155 43t-60 111q0 26 8.5 48t29.5 41.5 39.5 33 56 31 60.5 27 70 27.5q53 20 81 31.5t76 35 75.5 42.5 62 50 53 63.5 31.5 76.5 13 94z" fill="currentColor" class="color000 svgShape"></path></svg></g></svg>');
    background-size: 18px;
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 0;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    box-shadow: none;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  #upsellYesButton {
    margin-bottom: calc(var(--fields_spacing-block) * 2);

    .label {
      color: var(--submit__button_color);
      font-weight: var(--submit__button_font-weight);
      font-family: var(--submit__button_font-family);
      font-size: var(--submit__button_font-size);
      line-height: var(--submit__button_line-height);
      text-transform: var(--submit__button_text-transform);

      &:focus .label,
      &:hover .label {
        color: var(--submit__button_color_hover);
        background-color: var(--submit__button_background-color_hover);
        border-color: var(--submit__button_border-color_hover);
      }

      &:active .label {
        color: var(--submit__button_color_checked);
        background-color: var(--submit__button_background-color_checked);
        border-color: var(--submit__button_border-color_checked);
      }
    }
  }

  #upsellNoButton {
    button {
      margin-bottom: 0;

      .label {
        color: var(--button_color);
        font-weight: var(--button_font-weight);
        font-family: var(--button_font-family);
        font-size: var(--button_font-size);
        line-height: var(--button_line-height);
        text-transform: var(--button_text-transform);
      }

      &:focus .label,
      &:hover .label {
        color: var(--button_color_hover);
        background-color: var(--button_background-color_hover);
        border-color: var(--button_border-color_hover);
      }

      &:active .label {
        color: var(--button_color_checked);
        background-color: var(--button_background-color_checked);
        border-color: var(--button_border-color_checked);
      }
    }
  }

  #upsellYesButton a,
  #upsellNoButton button {
    width: 100%;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    // Wrapper for buttons when submitting
    .loader-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;

      .loader {
        margin: auto;
      }
    }
  }

  // Close Button
  #goMonthlyClose {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 25px;
    height: 25px;
    opacity: 0.3;
    transition: 0.3s opacity ease;
    display: block;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      left: 10px;
      content: " ";
      height: 26px;
      width: 3px;
      background-color: #333;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

// generic modal styles
.engrid-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y: auto;

  &.modal--hidden {
    display: none;
  }
}

.engrid-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 28px 20px;
  overflow-y: auto;
}

.engrid-modal__container {
  max-width: 700px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid #cdcdcd;

  &:focus {
    outline: none;
  }
}

.engrid-modal__close {
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
  font-size: 20px;
}

.engrid-modal__body {
  width: 100%;
  padding: 45px 20px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    padding: 20px;
  }

  > :first-child {
    margin-top: 0;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.engrid-modal--scale {
  animation: scaleAnimation 0.5s ease-in-out;
  transform-origin: center;
}
