[data-engrid-theme] {
  #en__digitalWallet {
    flex-basis: 100%;
    padding: 0;
    margin-bottom: var(--fields_spacing-block);

    > div[style]:not([class]) {
      flex-basis: 0 !important;
    }

    .en__digitalWallet__button {
      display: inline-block;
      width: auto !important;
      padding-left: var(--fields_spacing-inline);
      padding-right: var(--fields_spacing-inline);
      flex-basis: 50%;
      flex-grow: 1;
      margin-bottom: var(--fields_spacing-block);
      margin-top: calc(var(--fields_spacing-inline) * 0.5);
      height: auto;

      .en__digitalWallet__container {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  /* prettier-ignore */
  &:not(#en__pagebuilder):not([data-engrid-debug]){

    // Show If
    &:not([data-engrid-payment-type-option-apple-pay="true"]) .showif-apple-pay-available,
    &:not([data-engrid-payment-type-option-google-pay="true"]) .showif-google-pay-available,
    &:not([data-engrid-payment-type-option-paypal-one-touch="true"]) .showif-paypal-one-touch-available,
    &:not([data-engrid-payment-type-option-venmo="true"]) .showif-venmo-available{
      display: none;
    }
    
    // Hide If
    &[data-engrid-payment-type="stripedigitalwallet"] .hideif-stripedigitalwallet-selected,
    &[data-engrid-payment-type="paypaltouch"] .hideif-paypaltouch-selected {
      display: none;
    }
  }
}
