:root{
    // FONT STACKS (REF: https://markdotto.com/2018/02/07/github-system-fonts/)
    --theme-font-stack-browser-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

    // TYPOGRAPHY DEFAULT
    --theme-typography-default-font-family: var(--theme-font-stack-browser-fonts);
    --theme-typography-default-color: initial;
    --theme-typography-default-font-size: var(--theme-root-font-size);
    --theme-typography-default-font-weight: initial;
    --theme-typography-default-line-height: initial;

    // TYPOGRAPHY H1
    --theme-typography-h1-font-family: var(--theme-font-stack-browser-fonts);
    --theme-typography-h1-color: initial;
    --theme-typography-h1-font-size: calc(var(--theme-root-font-size) * var(--scale-up-160pct));
    --theme-typography-h1-font-weight: initial;
    --theme-typography-h1-line-height: initial;
        
    // TYPOGRAPHY H2
    --theme-typography-h2-font-family: var(--theme-typography-h1-font-family);
    --theme-typography-h2-color: initial;
    --theme-typography-h2-font-size: calc(var(--theme-root-font-size) * var(--scale-up-80pct));
    --theme-typography-h2-font-weight: initial;
    --theme-typography-h2-line-height: initial;
        
    // TYPOGRAPHY H3
    --theme-typography-h3-font-family: var(--theme-typography-h1-font-family);
    --theme-typography-h3-color: initial;
    --theme-typography-h3-font-size: calc(var(--theme-root-font-size) * var(--scale-up-40pct));
    --theme-typography-h3-font-weight: initial;
    --theme-typography-h3-line-height: initial;    
        
    // TYPOGRAPHY P
    --theme-typography-p-font-family: var(--theme-typography-default-font-family);
    --theme-typography-p-color: initial;
    --theme-typography-p-font-size: var(--theme-root-font-size);
    --theme-typography-p-font-weight: initial;
    --theme-typography-p-line-height: initial;

    // TYPOGRAPHY A
    --theme-typography-a-font-family: var(--theme-typography-default-font-family);
    --theme-typography-a-color: initial;
    --theme-typography-a-text-decoration: underline;

    // TYPOGRAPHY A:FOCUS
    // TYPOGRAPHY A:HOVER
    --theme-typography-a-hover-color: var(--theme-typography-a-color);
    --theme-typography-a-hover-text-decoration: initial;
}
  
// The most common typographic elements for pages
// @TODO Implement a more advanced SASS based method for fluidly scaling type size
// @BODY https://css-tricks.com/snippets/css/fluid-typography/

body{
    font-family: var(--theme-typography-default-font-family);
    color: var(--theme-typography-default-color);
    font-size: var(--theme-typography-default-font-size);
    font-weight: var(--theme-typography-default-font-weight);
    line-height: var(--theme-typography-default-line-height);
}

h1{
    font-family: var(--theme-typography-h1-font-family);
    color: var(--theme-typography-h1-color);
    font-size: var(--theme-typography-h1-font-size);
    font-weight: var(--theme-typography-h1-font-weight);
    line-height: var(--theme-typography-h1-line-height);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2{
    font-family: var(--theme-typography-h2-font-family);
    color: var(--theme-typography-h2-color);
    font-size: var(--theme-typography-h2-font-size);
    font-weight: var(--theme-typography-h2-font-weight);
    line-height: var(--theme-typography-h2-line-height);
    margin-top: calc(2rem * var(--scale-down-20pct));
    margin-bottom: calc(1rem * var(--scale-down-20pct));
}

h3{
    font-family: var(--theme-typography-h3-font-family);
    color: var(--theme-typography-h3-color);
    font-size: var(--theme-typography-h3-font-size);
    font-weight: var(--theme-typography-h3-font-weight);
    line-height: var(--theme-typography-h3-line-height);
    margin-top: calc(2rem * var(--scale-down-40pct));
    margin-bottom: calc(1rem * var(--scale-down-40pct));
}

h4,
h5,
h6{
    font-family: var(--theme-typography-h3-font-family);
    color: var(--theme-typography-h3-color);
    font-size: calc(var(--theme-typography-h3-font-size) * var(--scale-down-20pct));
    font-weight: var(--theme-typography-h3-font-weight);
    line-height: var(--theme-typography-h3-line-height);
    margin-top: calc(2rem * var(--scale-down-80pct));
    margin-bottom: calc(1rem * var(--scale-down-80pct));
}

p{
    font-family: var(--theme-typography-p-font-family);
    color: var(--theme-typography-p-color);
    font-size: var(--theme-typography-p-font-size);
    font-weight: var(--theme-typography-p-font-weight);
    line-height: var(--theme-typography-p-line-height);
}

a{
    font-family: var(--theme-typography-a-font-family);
    color: var(--theme-typography-a-color);
    text-decoration: var(--theme-typography-a-text-decoration);

    &:focus,
    &:hover{
        color: var(--theme-typography-a-checked-color);
        text-decoration: var(--theme-typography-a-checked-text-decoration);
    }
}