/*
* ##########################################################
* # DEBUG
* ##########################################################
*/

[data-engrid-layout="debug"] {
  border: 5px solid red;
}

[data-engrid-debug="accessability"] {
  // To help page editors identify images missing alt attributes which improve accesability
  img:not([alt]) {
    outline: 1px dashed #ff0000;
  }
}

[data-engrid-debug="image-sizes"] {
  // To help page editors identify images missing height or width attributes which improve page shift during loading
  img:not([height]) {
    outline: 1px dashed #00ff00;
  }

  img:not([width]) {
    outline: 1px dashed #0000ff;
  }

  img:not([height]):not([width]) {
    outline: 1px dashed #6a0dad;
  }
}

// REF: https://github.com/tachyons-css/tachyons/blob/master/src/_debug.css
[data-engrid-debug="layout"] {
  * {
    outline: 1px dotted #eeeeee !important;
  }
  body {
    outline: 1px solid #2980b9 !important;
  }
  article {
    outline: 1px solid #3498db !important;
  }
  nav {
    outline: 1px solid #0088c3 !important;
  }
  aside {
    outline: 1px solid #33a0ce !important;
  }
  section {
    outline: 1px solid #66b8da !important;
  }
  header {
    outline: 1px solid #99cfe7 !important;
  }
  footer {
    outline: 1px solid #cce7f3 !important;
  }
  h1 {
    outline: 1px solid #162544 !important;
  }
  h2 {
    outline: 1px solid #314e6e !important;
  }
  h3 {
    outline: 1px solid #3e5e85 !important;
  }
  h4 {
    outline: 1px solid #449baf !important;
  }
  h5 {
    outline: 1px solid #c7d1cb !important;
  }
  h6 {
    outline: 1px solid #4371d0 !important;
  }
  main {
    outline: 1px solid #2f4f90 !important;
  }
  address {
    outline: 1px solid #1a2c51 !important;
  }
  div {
    outline: 1px solid #036cdb !important;
  }

  p {
    outline: 1px solid #ac050b !important;
  }
  hr {
    outline: 1px solid #ff063f !important;
  }
  pre {
    outline: 1px solid #850440 !important;
  }
  blockquote {
    outline: 1px solid #f1b8e7 !important;
  }
  ol {
    outline: 1px solid #ff050c !important;
  }
  ul {
    outline: 1px solid #d90416 !important;
  }
  li {
    outline: 1px solid #d90416 !important;
  }
  dl {
    outline: 1px solid #fd3427 !important;
  }
  dt {
    outline: 1px solid #ff0043 !important;
  }
  dd {
    outline: 1px solid #e80174 !important;
  }
  figure {
    outline: 1px solid #ff00bb !important;
  }
  figcaption {
    outline: 1px solid #bf0032 !important;
  }

  table {
    outline: 1px solid #00cc99 !important;
  }
  caption {
    outline: 1px solid #37ffc4 !important;
  }
  thead {
    outline: 1px solid #98daca !important;
  }
  tbody {
    outline: 1px solid #64a7a0 !important;
  }
  tfoot {
    outline: 1px solid #22746b !important;
  }
  tr {
    outline: 1px solid #86c0b2 !important;
  }
  th {
    outline: 1px solid #a1e7d6 !important;
  }
  td {
    outline: 1px solid #3f5a54 !important;
  }
  col {
    outline: 1px solid #6c9a8f !important;
  }
  colgroup {
    outline: 1px solid #6c9a9d !important;
  }

  button {
    outline: 1px solid #da8301 !important;
  }
  datalist {
    outline: 1px solid #c06000 !important;
  }
  fieldset {
    outline: 1px solid #d95100 !important;
  }
  form {
    outline: 1px solid #d23600 !important;
  }
  input {
    outline: 1px solid #fca600 !important;
  }
  keygen {
    outline: 1px solid #b31e00 !important;
  }
  label {
    outline: 1px solid #ee8900 !important;
  }
  legend {
    outline: 1px solid #de6d00 !important;
  }
  meter {
    outline: 1px solid #e8630c !important;
  }
  optgroup {
    outline: 1px solid #b33600 !important;
  }
  option {
    outline: 1px solid #ff8a00 !important;
  }
  output {
    outline: 1px solid #ff9619 !important;
  }
  progress {
    outline: 1px solid #e57c00 !important;
  }
  select {
    outline: 1px solid #e26e0f !important;
  }
  textarea {
    outline: 1px solid #cc5400 !important;
  }

  details {
    outline: 1px solid #33848f !important;
  }
  summary {
    outline: 1px solid #60a1a6 !important;
  }
  command {
    outline: 1px solid #438da1 !important;
  }
  menu {
    outline: 1px solid #449da6 !important;
  }

  del {
    outline: 1px solid #bf0000 !important;
  }
  ins {
    outline: 1px solid #400000 !important;
  }

  img {
    outline: 1px solid #22746b !important;
  }
  iframe {
    outline: 1px solid #64a7a0 !important;
  }
  embed {
    outline: 1px solid #98daca !important;
  }
  object {
    outline: 1px solid #00cc99 !important;
  }
  param {
    outline: 1px solid #37ffc4 !important;
  }
  video {
    outline: 1px solid #6ee866 !important;
  }
  audio {
    outline: 1px solid #027353 !important;
  }
  source {
    outline: 1px solid #012426 !important;
  }
  canvas {
    outline: 1px solid #a2f570 !important;
  }
  track {
    outline: 1px solid #59a600 !important;
  }
  map {
    outline: 1px solid #7be500 !important;
  }
  area {
    outline: 1px solid #305900 !important;
  }

  a {
    outline: 1px solid #ff62ab !important;
  }
  em {
    outline: 1px solid #800b41 !important;
  }
  strong {
    outline: 1px solid #ff1583 !important;
  }
  i {
    outline: 1px solid #803156 !important;
  }
  b {
    outline: 1px solid #cc1169 !important;
  }
  u {
    outline: 1px solid #ff0430 !important;
  }
  s {
    outline: 1px solid #f805e3 !important;
  }
  small {
    outline: 1px solid #d107b2 !important;
  }
  abbr {
    outline: 1px solid #4a0263 !important;
  }
  q {
    outline: 1px solid #240018 !important;
  }
  cite {
    outline: 1px solid #64003c !important;
  }
  dfn {
    outline: 1px solid #b4005a !important;
  }
  sub {
    outline: 1px solid #dba0c8 !important;
  }
  sup {
    outline: 1px solid #cc0256 !important;
  }
  time {
    outline: 1px solid #d6606d !important;
  }
  code {
    outline: 1px solid #e04251 !important;
  }
  kbd {
    outline: 1px solid #5e001f !important;
  }
  samp {
    outline: 1px solid #9c0033 !important;
  }
  var {
    outline: 1px solid #d90047 !important;
  }
  mark {
    outline: 1px solid #ff0053 !important;
  }
  bdi {
    outline: 1px solid #bf3668 !important;
  }
  bdo {
    outline: 1px solid #6f1400 !important;
  }
  ruby {
    outline: 1px solid #ff7b93 !important;
  }
  rt {
    outline: 1px solid #ff2f54 !important;
  }
  rp {
    outline: 1px solid #803e49 !important;
  }
  span {
    outline: 1px solid #cc2643 !important;
  }
  br {
    outline: 1px solid #db687d !important;
  }
  wbr {
    outline: 1px solid #db175b !important;
  }

  div.debug-panel {
    outline: none !important;
    * {
      outline: none !important;
    }
  }
}

// For the breakpoints overlay
body[data-engrid-debug]:before {
  z-index: 2147483641;
}

.debug-panel {
  position: fixed;
  bottom: min(10vw, 10vh, 50px);
  right: min(10vw, 10vh, 50px);
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid #3b3b3b;
  transform-origin: bottom right;
  animation: fadeIn 750ms;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media screen and (max-height: 760px) {
    transform: scale(0.9);
  }

  @media screen and (max-height: 700px) {
    transform: scale(0.8);
  }

  @media screen and (max-height: 625px) {
    transform: scale(0.7);
  }
}

.debug-panel:not(.debug-panel--open) {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg 0% 100% / 75%);
  transition: background-color 0.15s ease;
  &:hover {
    background-color: #ffffff;
  }
}

.debug-panel--open {
  width: min(
    calc(100vw - 2px - min(10vw, 10vh, 50px) - min(10vw, 10vh, 50px)),
    280px
  );
  height: auto;
  padding: min(20px, 5vw, 5vh);
  border-radius: 5px;
}

.debug-panel--open .debug-panel__closed-title {
  display: none;
}

.debug-panel--open .debug-panel__title {
  display: flex;
}

.debug-panel--open .debug-panel__option {
  display: block;
}

.debug-panel__closed-title {
  font-family: sans-serif;
}

.debug-panel__title {
  display: none;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}

.debug-panel__title > h2 {
  margin: 0;
}

.debug-panel__close {
  cursor: pointer;
  padding: 10px;
  font-family: sans-serif;
}

.debug-panel__option {
  display: none;
  margin-bottom: 15px;
}

.debug-panel__option:last-of-type {
  margin-bottom: 0;
}

.debug-panel__link-label {
  display: flex;

  &:not(.link-left) {
    justify-content: center;
  }

  a,
  a:hover {
    color: #000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .debug-panel__edit-link,
  .debug-panel__edit-link:hover {
    font-weight: bold;
    color: #155cb7;
    justify-self: left;
  }
}

.debug-panel__btn {
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
  border: none;
}

.debug-panel__btn,
.debug-panel__btn:focus,
.debug-panel__btn:active {
  background-color: #1a73e5;
  color: #fff;
}

.debug-panel__btn:hover {
  background-color: darken(#1a73e5, 10%);
  color: #fff;
}

.debug-panel__btn--submit,
.debug-panel__btn--submit:focus,
.debug-panel__btn--submit:active {
  background-color: #139913;
}

.debug-panel__btn--submit:hover {
  background-color: darken(#139913, 10%);
}

.debug-panel:not(.debug-panel--local) .debug-panel__option--local {
  display: none;
}

.debug-panel__checkbox {
  input[type="checkbox"] {
    clip: rect(0 0 0 0);
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  input[type="checkbox"] + label {
    font-size: 1rem;
  }
}

[data-engrid-debug] {
  // margin-top: 56px;

  .en__component--page > [data-unhidden] {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    margin-bottom: var(--fields_spacing-block);
    padding-bottom: 0;
  }

  // Some fields can remain hidden. No one wants to see the CC Expiration Date Delimiter
  .en__field--ccexpire.en__field--splitselect [data-unhidden] {
    display: none;
  }

  //#debug-bar {
  //  display: flex;
  //  padding: 1ch 1.2ch;
  //  border-bottom: 1px solid #cccccc;
  //  justify-content: center;
  //  background: #f5f5f5;
  //  position: fixed;
  //  width: 100vw;
  //  top: 0;
  //  left: 0;
  //  z-index: 2147483640;
  //  box-shadow: 0 36px 50px 0 rgba(0, 0, 0, 0.2),
  //    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  //
  //  #info-wrapper {
  //    display: flex;
  //    margin: 0rem 1rem 0rem 0rem;
  //    font-size: 0.75rem;
  //    font-weight: 700;
  //    line-height: 1;
  //    font-family: Arial, sans-serif;
  //    align-items: center;
  //  }
  //
  //  #buttons-wrapper {
  //    display: flex;
  //    flex-direction: row;
  //    align-items: center;
  //    justify-content: center;
  //
  //    p {
  //      font-weight: bold;
  //      margin-right: 1rem;
  //    }
  //
  //    button,
  //    .button {
  //      // TYPOGRAPHY BUTTON
  //      --button_font-family: Arial, sans-serif;
  //      --button_color: #ffffff;
  //      --button_font-size: 16px;
  //      --button_font-weight: initial;
  //      --button_line-height: normal;
  //      --button_background-color: #000000;
  //      --button_border-width: 0px;
  //      --button_border-color: #000000;
  //      --button_border-radius: 6px;
  //      --button_padding: 1ch 1.2ch;
  //      --button_text-transform: none;
  //
  //      // TYPOGRAPHY BUTTON:HOVER
  //      --button_color_hover: #ffffff;
  //      --button_background-color_hover: #3d9cd6;
  //      --button_border-color_hover: #3d9cd6;
  //
  //      // TYPOGRAPHY BUTTON:SELECTED
  //      --button_color_checked: #ffffff;
  //      --button_background-color_checked: #3d9cd6;
  //      --button_border-color_checked: #3d9cd6;
  //
  //      text-decoration: none;
  //      margin: 0;
  //
  //      &:not(:last-child) {
  //        margin-right: 1rem;
  //      }
  //    }
  //  }
  //}
}

body:not([data-engrid-debug]) #debug-bar {
  display: none;
}

[data-engrid-debug],
[data-engrid-demo] {
  // To help page editors identify images missing alt attributes which improve accesability
  img:not([alt]),
  img[alt=""] {
    outline: 5px dashed #ff0000;
  }
}
