:root{  
  // TYPOGRAPHY LABEL
  --label-font-family: var(--default-font-family);
  --label-color: initial;
  --label-font-size: var(--theme-root-font-size);
  --label-font-weight: initial;
  --label-line-height: initial;
      
  // TYPOGRAPHY INPUT
  --input-font-family: var(--default-font-family);
  --input-color: initial;
  --input-font-size: var(--theme-root-font-size);
  --input-font-weight: initial;
  --input-line-height: initial;
  --input-background-color: var(--color-white);
  --input-border-width: 1px;
  --input-border-color: var(--color-black);
  --input-border-radius: initial;
  --input-placeholder-color: var(--theme-light-gray);
  --input-box-shadow: inset 0 1px 2px var(--theme-light-gray);
      
  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  --input-hover-color: var(--input-color);
  --input-hover-background-color: var(--input-background-color);
  --input-hover-border-color: var(--theme-cta);
  --input-hover-border-bottom-color: var(--input-hover-border-color);
  --input-hover-box-shadow: 0 0 0.3125rem var(--theme-light-gray);
      
  // TYPOGRAPHY RADIO
  --radio-content: "";
  --radio-color: var(--theme-cta);
  --radio-background-color: var(--color-white);
  --radio-border-width: 4px;
  --radio-border-color: var(--theme-black);
  --radio-border-radius: 50%;

  // TYPOGRAPHY RADIO INPUT:FOCUS
  // TYPOGRAPHY RADIO INPUT:HOVER
  --radio-hover-color: var(--radio-color);
  --radio-hover-background-color: var(--color-white);
  --radio-hover-border-color: var(--theme-black);

  // TYPOGRAPHY RADIO INPUT:CHECKED
  --radio-selected-color: var(--theme-black);
  --radio-selected-background-color: var(--theme-cta);
  --radio-selected-border-color: var(--theme-black);

  // TYPOGRAPHY CHECKBOX
  --checkbox-color: var(--color-white);
  --checkbox-background-color: var(--color-white);
  --checkbox-border-width: 1px;
  --checkbox-border-color: var(--theme-black);
  --checkbox-border-radius: 0px;

  // TYPOGRAPHY CHECKBOX INPUT:FOCUS
  // TYPOGRAPHY CHECKBOX INPUT:HOVER
  --checkbox-hover-color: var(--checkbox-color);
  --checkbox-hover-background-color: #f5f5f5;
  --checkbox-hover-border-color: var(--theme-black);

  // TYPOGRAPHY CHECKBOX INPUT:CHECKED
  --checkbox-checked-content:"✓";
  --checkbox-checked-color: var(--checkbox-background-color);
  --checkbox-checked-background-color: var(--theme-cta);
  --checkbox-checked-border-color: var(--theme-black);

  // TYPOGRAPHY SELECT
  --select-font-family: var(--default-font-family);
  --select-color: var(--color-black);
  --select-font-size: var(--theme-root-font-size);
  --select-font-weight: initial;
  --select-line-height: initial;
  --select-background-color: var(--color-white);
  --select-border-width: 1px;
  --select-border-color: var(--color-black);
  --select-border-radius: initial;
  --select-box-shadow: var(--input-box-shadow);

  // TYPOGRAPHY SELECT:FOCUS
  // TYPOGRAPHY SELECT:HOVER
  --select-hover-color: var(--select-color);
  --select-hover-background-color: var(--select-background-color);
  --select-hover-border-color: var(--theme-cta-hover);
  --select-hover-border-bottom-color: var(--select-hover-border-color);
  --select-hover-box-shadow: var(--input-hover-box-shadow);

  // TYPOGRAPHY TEXTAREA
  --textarea-font-family: var(--default-font-family);
  --textarea-color: initial;
  --textarea-font-size: var(--theme-root-font-size);
  --textarea-font-weight: initial;
  --textarea-line-height: initial;
  --textarea-background-color: var(--color-white);
  --textarea-border-width: 1px;
  --textarea-border-color: var(--color-black);
  --textarea-border-radius: initial;
  --textarea-placeholder-color: var(--theme-light-gray);
  --textarea-box-shadow: var(--input-box-shadow);
      
  // TYPOGRAPHY TEXTAREA:FOCUS
  // TYPOGRAPHY TEXTAREA:HOVER
  --textarea-hover-color: var(--textarea-color);
  --textarea-hover-background-color: var(--textarea-background-color);
  --textarea-hover-border-color: var(--theme-cta);
  --textarea-hover-box-shadow: var(--input-hover-box-shadow);
}

label{
  font-family: var(--label-font-family);
  color: var(--label-color);
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
  line-height: var(--label-line-height);
  display: flex;
}

// The use of "input.en__field__input" is needed to provide enough specificity to suprass class selectors like ".en__field__input--calendar" in enPage.css
input,
input.en__field__input{
  font-family: var(--input-font-family);
  color: var(--input-color);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  line-height: var(--input-line-height);
  background-color: var(--input-background-color);
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  height: auto; // Shared between input, textarea, and select
  max-width: 100%; // Shared between input, textarea, and select
  width: 100%; // Shared between input, textarea, and select
  min-width: initial; // Shared between input, textarea, and select
  display: block; // Shared between input, textarea, and select
  // -webkit-box-sizing: border-box; // Shared between input, textarea, and select
  box-sizing: border-box; // Shared between input, textarea, and select
  margin: 0rem; // Shared between input, textarea, and select
  padding: 1ch; // Shared between input, textarea, and select
  transition: box-shadow 0.25s, border-color 0.25s ease-in-out; // Shared between input, textarea, and select
  border-style: solid; // Shared between input, textarea, and select

  &:focus,
  &:hover{
      color: var(--input-checked-color);
      background-color: var(--input-checked-background-color);
      border-color: var(--input-checked-border-color);
      border-bottom-color: var(--input-checked-border-bottom-color);
      // outline: none; // Shared between input:focus, textarea:focus, and select:focus
  }
}

input[type="text"],
input[type="number"],
input[type="textarea"]{
  box-shadow: var(--input-box-shadow);

  &:focus,
  &:hover{
      box-shadow: var(--input-checked-box-shadow);
  }
}

// Removes the input shadow added by iOS 5 and later
// https://stackoverflow.com/questions/23211656/remove-ios-input-shadow
// https://app.productive.io/2650-4site-interactive-studios-inc/tasks/1498132
// Should not apply in page builder or it can cause unintentional regressions https://d.pr/i/Z4Rl2l
:not(#EN__RootElement) input[type=text],
:not(#EN__RootElement) input[type=email],
:not(#EN__RootElement) input[type=number],
:not(#EN__RootElement) input[type=tel]{
  // -webkit-appearance: none;
  // -moz-appearance: none;
  appearance: none;
}

input[type=radio]{
  + label{
    cursor: pointer;

    &:before{
      content: var(--radio-content);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
      color: var(--radio-color);
      background-color: var(--radio-background-color);
      border-width: var(--radio-border-width);
      border-color: var(--radio-border-color);
      border-radius: var(--radio-border-radius);
      height: 1.4rem;
      width: 1.4rem;
      box-shadow: inset 0 0 0 var(--radio-border-width) var(--radio-border-color);
      display: inline-flex;
    }
  }

  &:focus + label:before,
  &:hover + label:before{
    // color: var(--radio-selected-color);
    // background-color: var(--radio-selected-background-color);
    // border-color: var(--radio-selected-border-color);
  }

  &:not(:checked) + label:before{
    color: transparent;
  }
  
  &:checked + label:before{
    color: var(--radio-selected-color);
    background-color: var(--radio-selected-background-color);
    border-color: var(--radio-selected-border-color);
    box-shadow: inset 0 0 0 var(--radio-border-width) var(--radio-border-color);
  }
}

// ✓
input[type=checkbox]{
  + label{
    cursor: pointer;

    &:before{
      content: var(--checkbox-checked-content);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
      color: var(--checkbox-color);
      background-color: var(--checkbox-background-color);
      border-width: var(--checkbox-border-width);
      border-color: var(--checkbox-border-color);
      border-radius: var(--checkbox-border-radius);
      height: 1.4rem;
      width: 1.4rem;
      display: inline-flex;
    }
  }

  &:focus + label:before,
  &:hover + label:before{
    // color: var(--checkbox-checked-color);
    // background-color: var(--checkbox-checked-background-color);
    // border-color: var(--checkbox-checked-border-color);
  }

  &:not(:checked) + label:before{
    color: transparent;
  }  

  &:checked + label:before{
    color: var(--checkbox-checked-color);
    background-color: var(--checkbox-checked-background-color);
    border-color: var(--checkbox-checked-border-color);
    box-shadow: inset 0 0 0 var(--checkbox-border-width) var(--checkbox-border-color);
  }  
}

select,
select.en__field__input--select{
  font-family: var(--select-font-family);
  color: var(--select-color);
  font-size: var(--select-font-size);
  font-weight: var(--select-font-weight);
  line-height: var(--select-line-height);
  background-color: var(--select-background-color);
  border-width: var(--select-border-width);
  border-color: var(--select-border-color);
  border-radius: var(--select-border-radius);
  cursor: pointer;
  height: auto; // Shared between input, textarea, and select
  max-width: 100%; // Shared between input, textarea, and select
  width: 100%; // Shared between input, textarea, and select
  min-width: initial; // Shared between input, textarea, and select
  display: block; // Shared between input, textarea, and select
  // -webkit-box-sizing: border-box; // Shared between input, textarea, and select
  box-sizing: border-box; // Shared between input, textarea, and select
  margin: 0rem; // Shared between input, textarea, and select
  padding: 1ch; // Shared between input, textarea, and select
  box-shadow: var(--select-box-shadow);
  transition: box-shadow 0.25s, border-color 0.25s ease-in-out; // Shared between input, textarea, and select
  border-style: solid; // Shared between input, textarea, and select
  appearance: none; // This hides the native down arrow and replaces it with our custom down arrow set as the background-image
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 0.5625rem 0.375rem;

  &:focus,
  &:hover{
      color: var(--select-checked-color);
      background-color: var(--select-checked-background-color);
      border-color: var(--select-checked-border-color);
      border-bottom-color: var(--select-checked-border-bottom-color);
      // outline: none; // Shared between input:focus, textarea:focus, and select:focus
      box-shadow: var(--select-checked-box-shadow);
  }

}

textarea,
.en__contactMessage__plainText{
  font-family: var(--textarea-font-family);
  color: var(--textarea-color);
  font-size: var(--textarea-font-size);
  font-weight: var(--textarea-font-weight);
  line-height: var(--textarea-line-height);
  background-color: var(--textarea-background-color);
  border-width: var(--textarea-border-width);
  border-color: var(--textarea-border-color);
  border-radius: var(--textarea-border-radius);
  height: auto; // Shared between input, textarea, and select
  max-width: 100%; // Shared between input, textarea, and select
  width: 100%; // Shared between input, textarea, and select
  min-width: initial; // Shared between input, textarea, and select
  display: block; // Shared between input, textarea, and select
  // -webkit-box-sizing: border-box; // Shared between input, textarea, and select
  box-sizing: border-box; // Shared between input, textarea, and select
  margin: 0rem; // Shared between input, textarea, and select
  padding: 1ch; // Shared between input, textarea, and select
  border-style: solid; // Shared between input, textarea, and select
  box-shadow: var(--textarea-box-shadow);
  transition: box-shadow 0.25s, border-color 0.25s ease-in-out; // Shared between input, textarea, and select
  height: 7rem;
  resize: vertical;

  &:focus,
  &:hover{
      color: var(--textarea-checked-color);
      background-color: var(--textarea-checked-background-color);
      border-color: var(--textarea-checked-border-color);
      // outline: none; // Shared between input:focus, textarea:focus, and select:focus
      box-shadow: var(--textarea-checked-box-shadow);
  }
}


// Engaging Networks Overrides and Fixes
.en__field__item {
  padding: initial;
}

.en__field__item,
.en__field__element--calendar,
.en__field__element--checkbox,
.en__field__element--email,
.en__field__element--number,
.en__field__element--password,
.en__field__element--radio,
.en__field__element--range,
.en__field__element--rating,
.en__field__element--select,
.en__field__element--splitselect,
.en__field__element--splittext,
.en__field__element--telephone,
.en__field__element--text,
.en__field__element--textarea,
.en__field__element--tripleselect,
.en__field__element--tripletext {
  display: flex;
  flex-wrap: wrap;
}

/* Reset height */
.en__field__input--textarea {
  height: auto;
  width: 100%;
}

/************************************
    * General overrides of EN styles
    ***********************************/

/* In the event Theme CSS causes a hidden field to become displayed, force its display to remain hidden */
/* This was an issue originally reported by EN staff, not sure if it still persists with recent styling updates */
.en__hidden {
  display: none !important;
}

.en__field,
.en__captcha {
  padding-bottom: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* For inputs with multiple components, apply the bottom margin to the field items so that if they wrap they maintain vertical spacing between them */
/*
  .en__component .en__field.en__field--radio,
  .en__component .en__field.en__field--checkbox,
  .en__component .en__field.en__field--splittext,
  .en__component .en__field.en__field--tripletext,
  .en__component .en__field.en__field--splitselect,
  .en__component .en__field.en__field--tripleselect{
  margin-bottom: 0;
  }*/

/* Make the spacing between wrapping elements tighter so the user knows they're related */

.en__field--select .en__field__item:not(.en__field__item--other),
.en__field--radio .en__field__item:not(.en__field__item--other),
.en__field--checkbox .en__field__item:not(.en__field__item--other),
.en__field--splittext .en__field__item:not(.en__field__item--other),
.en__field--tripletext .en__field__item:not(.en__field__item--other),
.en__field--splitselect .en__field__item:not(.en__field__item--other),
.en__field--tripleselect .en__field__item:not(.en__field__item--other) {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  display: flex;
  flex-grow: 1; /* Fields should expand to fill their flexbox container */
  align-items: center;
  // width: 100%;
}

.en__component div[class*="withOther"].en__field .en__field__item {
  margin-bottom: 0.5rem;
  // margin-right: 1rem;
}

/* If the form field has a hidden "other" field we need to remove the end of row spacing */
/* NEED TO REVISIT FOR CODE CLEANUP */

.en__component--formblock
  .en__field--withOther
  div.en__field__item:nth-last-child(2) {
  margin-right: 0px;
}

.en__component--formblock .en__field:only-child,
.en__component--formblock .en__field div.en__field__item:only-child {
  margin-left: 0;
  margin-right: 0;
}

.en__component--formblock .row-wrap .en__field,
.en__component--formblock .row-wrap .en__field div.en__field__item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/************************************
* Inputs
***********************************/

/**
      * Form Block Component: Select Fields
      * Overrides EN Default Styling to ensure mobile friendly widths
      */
.en__field__input--select {
  min-width: initial !important;
}

/* Custom Styling for Radio & Checkbox Inputs */
input.en__field__input--radio,
input.en__field__input--checkbox,
input.en__contactDetails__select {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Helps when the field label gets additional content added to it. https://d.pr/v/9rFaiW */
.en__field__label{
  position: relative;
}

// .en__field__input--radio + .en__field__label,
// .en__field__input--checkbox + .en__field__label {
//   position: relative;
//   margin-left: 2rem;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
// }

.en__contactDetails__rows {
  flex-direction: column;
  align-items: flex-start;
}

// .en__field__input--radio + .en__field__label:before,
// .en__field__input--checkbox + .en__field__label:before,
.en__contacts:not(.en__contacts--hideCheck) .en__contactDetails__rows:before {
  content: "";
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  left: -2rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid var(--color-black);
  // -webkit-box-shadow: inset 0 0 0 5px var(--color-white);
  box-shadow: inset 0 0 0 5px var(--color-white);
  background-color: var(--color-white);
  cursor: pointer;
  // -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  // -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  top: 5px;
}

// .en__field__input--radio + .en__field__label:before {
//   border-radius: var(--radio-border-radius);
// }

// .en__field__input--checkbox + .en__field__label:before,
.en__contactDetails__rows:before {
  color: var(--checkbox-color);
  border-radius: var(--checkbox-border-radius);
  border-width: var(--checkbox-border-width);
  background-color: var(--checkbox-background-color);
  // -webkit-box-shadow: none;
  box-shadow: none;
}

// @TODO In addition to a "Checked" state, add a hover for checked and unchecked states
// e.g. .en__contactDetails__select + .en__contactDetails__rows:hover:before
// This might also include adding a cursor effect to show that the label is clickable

// @TODO Change the checkbox checkmark to use an SVG Data URI or similar
// @BODY Currently, the checkbox checkmark uses the checkmark character, but if the font doesn't have this character or the designer wants to use something else, it falls apart. We should switch to an "image" based solution. Ideally, it would be a data-uri and not require a separate image asset. This should be added as default and client SCSS variable where the necessary CSS are mapped to custom properties.
// REF: Cross browser tested radio / checkbox stylings https://codepen.io/aaroniker/pen/ZEYoxEY

// .en__field__input--radio:checked + .en__field__label:before {
//   color: var(--radio-selected-color);
//   background-color: var(--radio-radio-background-color);
//   // -webkit-box-shadow: inset 0 0 0 4px var(--radio-background-color);
//   box-shadow: inset 0 0 0 4px var(--radio-background-color);
//   border-width: var(--radio-border-width);
// }

// .en__field__input--checkbox:checked + .en__field__label:before,
.en__contacts:not(.en__contacts--hideCheck)
  .en__contactDetails__select:checked
  + .en__contactDetails__rows:before {
  color: var(--checkbox-checked-color);
  background-color: var(--checkbox-checked-background-color);
  // -webkit-box-shadow: inset 0 0 0 0 var(--checkbox-background-color);
  box-shadow: inset 0 0 0 0 var(--checkbox-background-color);
  border-width: var(--checkbox-border-width);
  border-color: var(--checkbox-border-color);
}

// .en__field__input--checkbox:checked + .en__field__label::after,
.en__contacts:not(.en__contacts--hideCheck)
  .en__contactDetails__select:checked
  + .en__contactDetails__rows::after {
  // Needs and SVG safe color passed in https://stackoverflow.com/questions/25477819/scss-variable-in-background-image-with-svg-image-data-uri
  // content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='16' viewBox='0 0 21 16'><path fill="#color-white" fill-rule='nonzero' d='M18.76.16L6.68 12.113l-4.44-4.392a.555.555 0 0 0-.779 0L.161 9.006a.541.541 0 0 0 0 .771L6.29 15.84a.555.555 0 0 0 .78 0l13.77-13.624a.541.541 0 0 0 0-.771L19.539.16a.555.555 0 0 0-.779 0z'/></svg>");
  // fill: var(--theme-cta);
  content: "✓"; // REF: https://www.toptal.com/designers/htmlarrows/symbols/check-mark/
  position: absolute;
  left: -28px;
  top: 5px;
  // width: 21px;
  // height: 16px;
  color: var(--checkbox-color);
  background-color: transparent;
  font-size: calc(0.05552rem * 18);
}

/* QA Needed: Would like to find a way so that radio input focus is round rather than square. May require re-writing how radio inputs are styled */
.en__field__input--radio:focus + .en__field__label:before,
.en__field__input--checkbox:focus + .en__field__label:before,
.en__contactDetails__select:focus + .en__contactDetails__rows:before {
  // outline: var(--theme-gray) auto 0.3125rem;
  // border-color: var(--input-checked-border-color);
}

.en__field__input--radio:focus + .en__field__label,
.en__field__input--checkbox:focus + .en__field__label,
.en__contactDetails__select:focus + .en__contactDetails__rows {
  // outline: 2px solid var(--input-checked-border-color);
  // outline-offset: 3px;
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 3px;
}

/* QA Needed: EN's hidden input field */
.en__field--hidden {
  display: block;
  width: 100% !important;
}

/* Uses Padding instead of Margin because padding is counted in the Flex-basis width whereas Margin is outside */
/* One optimization idea is to break this file up into three CSS files, 1-10, 11-20, and 21-30. That was they can be included only if that template is using them. */
/* Should confirm if the EN class field could even hold enough chars to fit defining 20 fields plus their start/stop classes */
/* Why 20 pre-defined options? To cover a single form component with all of the following: * 1. First Name (50%) | 2. Last Name (50%) * 3. Email (100%) * 4. Email Opt-in (100%) * 5. Phone (100%) * 6. Phone Opt-in (100%) * 7. Street (100%) * 8. Street 2 (100%) * 9. City (33%) | 10. State (33%) | 11. Zip (33%) * 12. Country (100%) * 13. Giving Frequency (100%) * 14. Giving Amount (100%) * 15. Gift Type (100%) * 16. Credit Card Number (100%) * 17. Credit Card Expiration (50%) | 18. Credit Card CVV (50%) * 19. Custom Field (100%) * 20. Custom Field (100%) */
/* Make all en fields 100% */
.en__field {
  flex-basis: 100%;
  padding-bottom: 1rem;
  margin-bottom: 0rem;
}

.en__field__element--splittext,
.en__field__element--splitselect,
.en__field__element--tripleselect {
  align-items: flex-start;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--splittext .en__field__item:nth-of-type(1),
.en__field__element--splitselect:not(.en__field--ccexpire)
  .en__field__item:nth-of-type(1) {
  flex-basis: 50%;
  padding-left: 0rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--splittext .en__field__item:nth-of-type(2),
.en__field__element--splitselect:not(.en__field--ccexpire)
  .en__field__item:nth-of-type(2) {
  flex-basis: 50%;
  padding-left: 0.5rem;
  padding-right: 0rem;
  padding-bottom: 0.5rem;
  margin: 0;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--tripletext .en__field__item:nth-of-type(1),
.en__field__element--tripleselect .en__field__item:nth-of-type(1) {
  flex-basis: calc(100% / 3);
  padding-left: 0rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem ;
  margin: 0;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--tripletext .en__field__item:nth-of-type(2),
.en__field__element--tripleselect .en__field__item:nth-of-type(2) {
  flex-basis: calc(100% / 3);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--tripletext .en__field__item:nth-of-type(3),
.en__field__element--tripleselect .en__field__item:nth-of-type(3) {
  flex-basis: calc(100% / 3);
  padding-left: 0.5rem;
  padding-right: 0rem;
  padding-bottom: 0.5rem;
  margin: 0;
}

/* @TODO Revisit if this negative margin offset is neccisary anymore */
.en__component--formblock.manual-form-layout {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.en__field {
  // padding-left: 0.5rem;
  // padding-right: 0.5rem;
}

/* The first form field in a form block component does not need any left padding */
.en__component--formblock .en__field:first-child {
  padding-left: 0;
}
/* The last form field in a form block component does not need any right padding */
.en__component--formblock .en__field:last-child {
  padding-right: 0;
}

.en__field--withOther .en__field__element--select .en__field__item:first-child {
  margin-right: 0 !important;
}

/* Custom Styles */

// Inline Country Helper
.inline-country .en__field--country {
  position: absolute;
  right: 0;
  align-items: flex-end;
  // label{
  //   visibility: hidden;
  // }
  select {
    width: 80px;
    // z-index: 1;
    background-color: transparent;
    // -webkit-box-shadow: none;
    box-shadow: none;
    text-align-last: right;
  }
  .en__field__error {
    // z-index: 1;
  }
}

// Remove Number Input Spinners https://stackoverflow.com/a/4298216
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  // margin: 0;
  // -moz-appearance: textfield;
}

/* Placeholder styling */
/* Chrome, Firefox, Opera, Safari 10.1+ */
::-webkit-input-placeholder {
  color: var(--theme-light-gray);
  opacity: 1;
}

/* Firefox */
:-ms-input-placeholder {
  color: var(--theme-light-gray);
  opacity: 1;
  
}

/* Firefox */
::-ms-input-placeholder {
  color: var(--theme-light-gray);
  opacity: 1;
}

/* Firefox */
::placeholder {
  color: var(--theme-light-gray);
  opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: var(--theme-light-gray);
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: var(--theme-light-gray);
}