// Grid Related Manual Utility Classes
.i1-20 .en__field:nth-of-type(1),
.i2-20 .en__field:nth-of-type(2),
.i3-20 .en__field:nth-of-type(3),
.i4-20 .en__field:nth-of-type(4),
.i5-20 .en__field:nth-of-type(5),
.i6-20 .en__field:nth-of-type(6),
.i7-20 .en__field:nth-of-type(7),
.i8-20 .en__field:nth-of-type(8),
.i9-20 .en__field:nth-of-type(9),
.i10-20 .en__field:nth-of-type(10),
.i11-20 .en__field:nth-of-type(11) {
  flex-basis: 20%;
}

.i1-25 .en__field:nth-of-type(1),
.i2-25 .en__field:nth-of-type(2),
.i3-25 .en__field:nth-of-type(3),
.i4-25 .en__field:nth-of-type(4),
.i5-25 .en__field:nth-of-type(5),
.i6-25 .en__field:nth-of-type(6),
.i7-25 .en__field:nth-of-type(7),
.i8-25 .en__field:nth-of-type(8),
.i9-25 .en__field:nth-of-type(9),
.i10-25 .en__field:nth-of-type(10),
.i11-25 .en__field:nth-of-type(11) {
  flex-basis: 25%;
}

.i1-33 .en__field:nth-of-type(1),
.i2-33 .en__field:nth-of-type(2),
.i3-33 .en__field:nth-of-type(3),
.i4-33 .en__field:nth-of-type(4),
.i5-33 .en__field:nth-of-type(5),
.i6-33 .en__field:nth-of-type(6),
.i7-33 .en__field:nth-of-type(7),
.i8-33 .en__field:nth-of-type(8),
.i9-33 .en__field:nth-of-type(9),
.i10-33 .en__field:nth-of-type(10),
.i11-33 .en__field:nth-of-type(11) {
  flex-basis: 33.33333%;
}

.i1-40 .en__field:nth-of-type(1),
.i2-40 .en__field:nth-of-type(2),
.i3-40 .en__field:nth-of-type(3),
.i4-40 .en__field:nth-of-type(4),
.i5-40 .en__field:nth-of-type(5),
.i6-40 .en__field:nth-of-type(6),
.i7-40 .en__field:nth-of-type(7),
.i8-40 .en__field:nth-of-type(8),
.i9-40 .en__field:nth-of-type(9),
.i10-40 .en__field:nth-of-type(10),
.i11-40 .en__field:nth-of-type(11) {
  flex-basis: 40%;
}

.i1-50 .en__field:nth-of-type(1),
.i2-50 .en__field:nth-of-type(2),
.i3-50 .en__field:nth-of-type(3),
.i4-50 .en__field:nth-of-type(4),
.i5-50 .en__field:nth-of-type(5),
.i6-50 .en__field:nth-of-type(6),
.i7-50 .en__field:nth-of-type(7),
.i8-50 .en__field:nth-of-type(8),
.i9-50 .en__field:nth-of-type(9),
.i10-50 .en__field:nth-of-type(10),
.i11-50 .en__field:nth-of-type(11) {
  flex-basis: 50%;
}

.i1-66 .en__field:nth-of-type(1),
.i2-66 .en__field:nth-of-type(2),
.i3-66 .en__field:nth-of-type(3),
.i4-66 .en__field:nth-of-type(4),
.i5-66 .en__field:nth-of-type(5),
.i6-66 .en__field:nth-of-type(6),
.i7-66 .en__field:nth-of-type(7),
.i8-66 .en__field:nth-of-type(8),
.i9-66 .en__field:nth-of-type(9),
.i10-66 .en__field:nth-of-type(10),
.i11-66 .en__field:nth-of-type(11) {
  flex-basis: 66.66666%;
}

.i1-75 .en__field:nth-of-type(1),
.i2-75 .en__field:nth-of-type(2),
.i3-75 .en__field:nth-of-type(3),
.i4-75 .en__field:nth-of-type(4),
.i5-75 .en__field:nth-of-type(5),
.i6-75 .en__field:nth-of-type(6),
.i7-75 .en__field:nth-of-type(7),
.i8-75 .en__field:nth-of-type(8),
.i9-75 .en__field:nth-of-type(9),
.i10-75 .en__field:nth-of-type(10),
.i11-75 .en__field:nth-of-type(11) {
  flex-basis: 75%;
}

.i1-center .en__field:nth-of-type(1),
.i2-center .en__field:nth-of-type(2),
.i3-center .en__field:nth-of-type(3),
.i4-center .en__field:nth-of-type(4),
.i5-center .en__field:nth-of-type(5),
.i6-center .en__field:nth-of-type(6),
.i7-center .en__field:nth-of-type(7),
.i8-center .en__field:nth-of-type(8),
.i9-center .en__field:nth-of-type(9),
.i10-center .en__field:nth-of-type(10),
.i11-center .en__field:nth-of-type(11) {
  align-items: center;
}

// Layout a field with multiple options (e.g Radio Selects or Checkboxes) into a column
.i1-column .en__field:nth-of-type(1) .en__field__element,
.i2-column .en__field:nth-of-type(2) .en__field__element,
.i3-column .en__field:nth-of-type(3) .en__field__element,
.i4-column .en__field:nth-of-type(4) .en__field__element,
.i5-column .en__field:nth-of-type(5) .en__field__element,
.i6-column .en__field:nth-of-type(6) .en__field__element,
.i7-column .en__field:nth-of-type(7) .en__field__element,
.i8-column .en__field:nth-of-type(8) .en__field__element,
.i9-column .en__field:nth-of-type(9) .en__field__element,
.i10-column .en__field:nth-of-type(10) .en__field__element,
.i11-column .en__field:nth-of-type(11) .en__field__element {
  flex-direction: column;
  align-items: flex-start;
}

// When inside page builder or debugging
#en__pagebuilder,
[data-engrid-debug] {
  // Color Hidden Fields
  [hidden-via-url-argument],
  .hide,
  .hide-until-engrid-js-loading-finished,
  .hide-until-client-js-loading-finished,
  .i1-hide .en__field:nth-of-type(1),
  .i2-hide .en__field:nth-of-type(2),
  .i3-hide .en__field:nth-of-type(3),
  .i4-hide .en__field:nth-of-type(4),
  .i5-hide .en__field:nth-of-type(5),
  .i6-hide .en__field:nth-of-type(6),
  .i7-hide .en__field:nth-of-type(7),
  .i8-hide .en__field:nth-of-type(8),
  .i9-hide .en__field:nth-of-type(9),
  .i10-hide .en__field:nth-of-type(10),
  .i11-hide .en__field:nth-of-type(11),
  .en__field--plaid {
    background-color: #ff00001a !important;
  }

  // Color Hidden Labels
  .hide-labels .en__field > label,
  label.hide-label,
  .i1-hide-label .en__field:nth-of-type(1) > label,
  .i2-hide-label .en__field:nth-of-type(2) > label,
  .i3-hide-label .en__field:nth-of-type(3) > label,
  .i4-hide-label .en__field:nth-of-type(4) > label,
  .i5-hide-label .en__field:nth-of-type(5) > label,
  .i6-hide-label .en__field:nth-of-type(6) > label,
  .i7-hide-label .en__field:nth-of-type(7) > label,
  .i8-hide-label .en__field:nth-of-type(8) > label,
  .i9-hide-label .en__field:nth-of-type(9) > label,
  .i10-hide-label .en__field:nth-of-type(10) > label,
  .i11-hide-label .en__field:nth-of-type(11) > label {
    background-color: #ff00001a !important;
  }
}

/* Seperated out form the block below so that if it breaks (ie older Firefox) it doesn't break the whole thing */
body:not(#en__pagebuilder):not([data-engrid-debug]) {
  /* prettier-ignore */
  .hide:not(.en__field--validationFailed):not(:has(.en__field.en__field--validationFailed)),
  div:not(.en__field--validationFailed) .hide:not(.en__field--validationFailed):not(:has(.en__field.en__field--validationFailed)){
    display: none;
  }
}

// When outside page builder and not debugging,
body:not(#en__pagebuilder):not([data-engrid-debug]) {
  // Hide Hidden Fields
  /* prettier-ignore */
  [hidden-via-url-argument],
  &:not([data-engrid-scripts-js-loading="finished"]) .hide-until-engrid-js-loading-finished,
  &:not([data-engrid-client-js-loading="finished"]) .hide-until-client-js-loading-finished,
  .i1-hide .en__field:not(.en__field--validationFailed):nth-of-type(1),
  .i2-hide .en__field:not(.en__field--validationFailed):nth-of-type(2),
  .i3-hide .en__field:not(.en__field--validationFailed):nth-of-type(3),
  .i4-hide .en__field:not(.en__field--validationFailed):nth-of-type(4),
  .i5-hide .en__field:not(.en__field--validationFailed):nth-of-type(5),
  .i6-hide .en__field:not(.en__field--validationFailed):nth-of-type(6),
  .i7-hide .en__field:not(.en__field--validationFailed):nth-of-type(7),
  .i8-hide .en__field:not(.en__field--validationFailed):nth-of-type(8),
  .i9-hide .en__field:not(.en__field--validationFailed):nth-of-type(9),
  .i10-hide .en__field:not(.en__field--validationFailed):nth-of-type(10),
  .i11-hide .en__field:not(.en__field--validationFailed):nth-of-type(11),
  .en__field--plaid{
    display: none;
  }

  /* Provide a fallback for browsers that do not support :has selector */
  /* REF: https://caniuse.com/?search=has */
  /* REF: https://caniuse.com/?search=%40supports */
  /* REF: https://www.bram.us/2023/01/04/css-has-feature-detection-with-supportsselector-you-want-has-not-has/ */
  /* REF: https://stackoverflow.com/questions/42143275/css-supports-mixing-not-with-and-or-or */
  /* prettier-ignore */
  @supports (not selector(:has(*))) {
    .hide:not(.en__field--validationFailed),
    div:not(.en__field--validationFailed) .hide:not(.en__field--validationFailed) {
      display: none;
    }
  }

  // Hide Hidden Labels for sited visitors but keep them accessible for assistive technologies like screen readers
  // REF: https://stackoverflow.com/a/26032207
  .hide-labels .en__field:not(.en__field--validationFailed) > label,
  div:not(.en__field--validationFailed) label.hide-label,
  .i1-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(1)
    > label,
  .i2-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(2)
    > label,
  .i3-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(3)
    > label,
  .i4-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(4)
    > label,
  .i5-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(5)
    > label,
  .i6-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(6)
    > label,
  .i7-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(7)
    > label,
  .i8-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(8)
    > label,
  .i9-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(9)
    > label,
  .i10-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(10)
    > label,
  .i11-hide-label
    .en__field:not(.en__field--validationFailed):nth-of-type(11)
    > label {
    position: absolute !important; /* Outside the DOM flow */
    height: 1px;
    width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
  }
}

/* Force input visibility */
/* Still needs JS to auto select last radio on input */
/* @TODO EN now adds "en__field__item--hidden" to the "en__field__item--other" field when "other" is not selected
/* prettier-ignore */
.i1-show-hidden-radio-input
  .en__field:nth-of-type(1)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i2-show-hidden-radio-input
  .en__field:nth-of-type(2)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i3-show-hidden-radio-input
  .en__field:nth-of-type(3)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i4-show-hidden-radio-input
  .en__field:nth-of-type(4)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i5-show-hidden-radio-input
  .en__field:nth-of-type(5)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i6-show-hidden-radio-input
  .en__field:nth-of-type(6)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i7-show-hidden-radio-input
  .en__field:nth-of-type(7)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i8-show-hidden-radio-input
  .en__field:nth-of-type(8)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i9-show-hidden-radio-input
  .en__field:nth-of-type(9)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i10-show-hidden-radio-input
  .en__field:nth-of-type(10)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i11-show-hidden-radio-input
  .en__field:nth-of-type(11)
  .en__field__element--radio
  .en__field__item:nth-last-child(1) {
  display: flex !important;
}

/* Hide Other Input Radio Value because it is auto-selected with JS when a value is entered in the Other Input Text field. */
/* @TODO EN now adds "en__field__item--hidden" to the "en__field__item--other" field when "other" is not selected
/* prettier-ignore */
.i1-show-hidden-radio-input
  .en__field:nth-of-type(1)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i2-show-hidden-radio-input
  .en__field:nth-of-type(2)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i3-show-hidden-radio-input
  .en__field:nth-of-type(3)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i4-show-hidden-radio-input
  .en__field:nth-of-type(4)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i5-show-hidden-radio-input
  .en__field:nth-of-type(5)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i6-show-hidden-radio-input
  .en__field:nth-of-type(6)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i7-show-hidden-radio-input
  .en__field:nth-of-type(7)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i8-show-hidden-radio-input
  .en__field:nth-of-type(8)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i9-show-hidden-radio-input
  .en__field:nth-of-type(9)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i10-show-hidden-radio-input
  .en__field:nth-of-type(10)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i11-show-hidden-radio-input
  .en__field:nth-of-type(11)
  .en__field__element--radio
  .en__field__item:nth-last-child(2) {
  display: none !important;
}

/* On error, restyle if the field is also centered */
/* prettier-ignore */
.i1-show-hidden-radio-input.i1-center .en__field:nth-of-type(1)[class*="validationFail"] .en__field__element--radio,
.i2-show-hidden-radio-input.i2-center .en__field:nth-of-type(2)[class*="validationFail"] .en__field__element--radio,
.i3-show-hidden-radio-input.i3-center .en__field:nth-of-type(3)[class*="validationFail"] .en__field__element--radio,
.i4-show-hidden-radio-input.i4-center .en__field:nth-of-type(4)[class*="validationFail"] .en__field__element--radio,
.i5-show-hidden-radio-input.i5-center .en__field:nth-of-type(5)[class*="validationFail"] .en__field__element--radio,
.i6-show-hidden-radio-input.i6-center .en__field:nth-of-type(6)[class*="validationFail"] .en__field__element--radio,
.i7-show-hidden-radio-input.i7-center .en__field:nth-of-type(7)[class*="validationFail"] .en__field__element--radio,
.i8-show-hidden-radio-input.i8-center .en__field:nth-of-type(8)[class*="validationFail"] .en__field__element--radio,
.i9-show-hidden-radio-input.i9-center .en__field:nth-of-type(9)[class*="validationFail"] .en__field__element--radio,
.i10-show-hidden-radio-input.i10-center .en__field:nth-of-type(10)[class*="validationFail"] .en__field__element--radio,
.i11-show-hidden-radio-input.i11-center .en__field:nth-of-type(11)[class*="validationFail"] .en__field__element--radio {
  border-radius: 0.3rem !important;
  margin-bottom: 0.5rem;
}

/* On error, restyle if the field is also centered */
/* prettier-ignore */
.i1-show-hidden-radio-input.i1-center .en__field:nth-of-type(1)[class*="validationFail"] .en__field__error,
.i2-show-hidden-radio-input.i2-center .en__field:nth-of-type(2)[class*="validationFail"] .en__field__error,
.i3-show-hidden-radio-input.i3-center .en__field:nth-of-type(3)[class*="validationFail"] .en__field__error,
.i4-show-hidden-radio-input.i4-center .en__field:nth-of-type(4)[class*="validationFail"] .en__field__error,
.i5-show-hidden-radio-input.i5-center .en__field:nth-of-type(5)[class*="validationFail"] .en__field__error,
.i6-show-hidden-radio-input.i6-center .en__field:nth-of-type(6)[class*="validationFail"] .en__field__error,
.i7-show-hidden-radio-input.i7-center .en__field:nth-of-type(7)[class*="validationFail"] .en__field__error,
.i8-show-hidden-radio-input.i8-center .en__field:nth-of-type(8)[class*="validationFail"] .en__field__error,
.i9-show-hidden-radio-input.i9-center .en__field:nth-of-type(9)[class*="validationFail"] .en__field__error,
.i10-show-hidden-radio-input.i9-center .en__field:nth-of-type(10)[class*="validationFail"] .en__field__error,
.i11-show-hidden-radio-input.i9-center .en__field:nth-of-type(11)[class*="validationFail"] .en__field__error {
  border-radius: 0.3rem !important;
}

@media screen and (max-width: 40em) {
  .i1-m50 .en__field:nth-of-type(1),
  .i2-m50 .en__field:nth-of-type(2),
  .i3-m50 .en__field:nth-of-type(3),
  .i4-m50 .en__field:nth-of-type(4),
  .i5-m50 .en__field:nth-of-type(5),
  .i6-m50 .en__field:nth-of-type(6),
  .i7-m50 .en__field:nth-of-type(7),
  .i8-m50 .en__field:nth-of-type(8),
  .i9-m50 .en__field:nth-of-type(9),
  .i10-m50 .en__field:nth-of-type(10),
  .i11-m50 .en__field:nth-of-type(11) {
    flex-basis: 50%;
  }

  .i1-m100 .en__field:nth-of-type(1),
  .i2-m100 .en__field:nth-of-type(2),
  .i3-m100 .en__field:nth-of-type(3),
  .i4-m100 .en__field:nth-of-type(4),
  .i5-m100 .en__field:nth-of-type(5),
  .i6-m100 .en__field:nth-of-type(6),
  .i7-m100 .en__field:nth-of-type(7),
  .i8-m100 .en__field:nth-of-type(8),
  .i9-m100 .en__field:nth-of-type(9),
  .i10-m100 .en__field:nth-of-type(10),
  .i11-m100 .en__field:nth-of-type(11) {
    flex-basis: 100%;
  }
}
