/*
* ##########################################################
* # Field Level Inline "Fancy Errors"
* ##########################################################
*/

[data-engrid-errors="fancy"] .en__component .en__field__error {
  padding: 0.25rem 0.5rem;
  color: var(--color_white);
  font-size: 0.75rem;
  border-bottom-left-radius: var(--input_border-radius);
  border-bottom-right-radius: var(--input_border-radius);
  background-color: var(--error__color);
  order: 3;
}

[data-engrid-errors="fancy"] {
  .en__field--text.en__field--validationFailed input,
  .en__field--email.en__field--validationFailed input,
  .en__field--telephone.en__field--validationFailed input,
  .en__field--number.en__field--validationFailed input,
  .en__field--textarea.en__field--validationFailed textarea,
  .en__field--select.en__field--validationFailed select {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--select.en__field--withOther.en__field--validationFailed
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--radio.en__field--validationFailed
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed
  .en__field__element {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--select.en__field--withOther.en__field--validationFailed.has-value
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--radio.en__field--validationFailed.has-value
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed.has-value
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed.has-value
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed.has-value
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed.has-value
  .en__field__element,
[data-engrid-errors="fancy"]
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed.has-value
  .en__field__element,
[data-engrid-errors="fancy"] .en__field--validationFailed.has-value .en__field__error {
  border-color: var(--error__color_grayscale);
  background-color: var(--error__color_grayscale);
  color: var(--color_white);
}
