// Ref: https://github.com/sass-mq/sass-mq

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.

// Breakpoints Defined in Chrome
// Mobile S: 320px
// Mobile M: 375px
// Mobile L: 425px
// Tablet: 768px
// Laptop: 1024px
// Laptop L: 1440px
// 4k: 2560px

// Breakpoints based on OC Page Traffic
// Narrow: 410px (43.41%)
// Mid: 1440px (42.38%)
// Wide: 1980px (13.48%)
// Ultrawide: 2700px (0.73%)
$mq-breakpoints: (
  mobile: 320px,
  tablet: 600px,
  desktop: 1024px,
  wide: 1400px,
  fullHD: 1920px,
  UHD: 3840px,
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width. For example: (mobile, tablet, desktop).
$mq-show-breakpoints: (mobile, tablet, desktop, wide, fullHD, UHD);

@import "mq";
