[data-engrid-theme] {
  &[data-engrid-page-type="supporterhub"] {
    // Force the Supporter Hubs columns to span the full width of their contents
    .en__hubPledge__column {
      width: 100%;
    }

    // In the event there are two submit buttons in a row
    .en__hubPledge__buttons {
      gap: 2rem;
      align-items: center;
    }

    // Removes a red border that appears only on errored fields within the support hub
    .en__hubPledge__validationFail .en__field__element {
      border: none;
    }
  }

  @media screen and (max-width: 768px) {
    .en__hubPledge__buttons {
      flex-direction: column;
      .en__submit button {
        margin: 0;
      }
    }
  }

  // Set an upper bounds to the native supporter hub widget images
  .en__component--hubgadget > img[src*="pageassets"] {
    max-width: 72px;
  }

  .en__pagination .en__button {
    word-break: keep-all;
  }
}
