.engrid-mobile-cta-container {
  position: fixed;
  left: 2rem;
  bottom: 1rem;
  width: calc(100% - 4rem);
  z-index: 9999;

  .primary {
    display: inline-block;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .engrid-mobile-cta-container {
    display: none !important;
  }
}
