.engrid-mobile-cta-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px 0;
  text-align: center;

  .primary {
    display: inline-block;
    width: 80%;
    margin: 0 10px;
    box-sizing: content-box;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}
