figure.media-with-attribution {
	margin: 0 auto; // Mirrors settings added to all <img>'s
    max-width: 100%; // Mirrors settings added to all <img>'s
    width: 100%; // Mirrors settings added to all <img>'s
	position: relative;
    display: table; // The <figattribution> overlay only works when this is set to 'inline-block' or 'table' and 'table' was chosen because it will continue to respect the auto margin set above while setting it to an inline-block will cause it to ignore those auto margins. Recording: https://d.pr/v/QhPLOO

    img {
        position: relative;
        width: 100%;
    }

    figattribution {
        font-family: var(--theme-media-attribution-overlay-font-family);
        position: absolute;
        background-color: var(--theme-media-attribution-overlay-background-color);
        margin: var(--theme-media-attribution-overlay-margin);
        text-shadow: var(--theme-media-attribution-overlay-text-shadow);
        font-size: var(--theme-media-attribution-overlay-font-size);
        color: var(--theme-media-attribution-overlay-color);
        font-style: var(--theme-media-attribution-overlay-font-style);
        display: inline-block;
        padding: var(--theme-media-attribution-overlay-padding);
        font-weight: var(--theme-media-attribution-overlay-font-weight);
        text-transform: var(--theme-media-attribution-overlay-text-transform);
    }

    figattribution a,
    figattribution a:hover,
    figattribution a:focus {
        font-size: var(--theme-media-attribution-overlay-font-size);
        color: var(--theme-media-attribution-overlay-color);
        font-family: var(--theme-media-attribution-overlay-font-family);
        color: var(--theme-media-attribution-overlay-color);
        font-style: var(--theme-media-attribution-overlay-font-style);
        font-weight: var(--theme-media-attribution-overlay-font-weight);
        text-decoration: none;
    }

    // Set the global default position
    figattribution{
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        text-align: left;
    }

    // Utility classes to manually control the position per image
    figattribution.attribution-topright {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        text-align: right;
    }

    figattribution.attribution-bottomright {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        text-align: right;
    }

    figattribution.attribution-bottomleft {
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        text-align: left;
    }

    figattribution.attribution-topleft {
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        text-align: left;
    }

}

// Set the ENGrid layout default position for background images
[data-engrid-layout="leftleft1col"],
[data-engrid-layout="centerleftt1col"]{
    .page-backgroundImage{
        figattribution{
            top: auto;
            right: 0;
            bottom: 0;
            left: auto;
            text-align: right;
        }
    }
}

[data-engrid-layout="rightright1col"],
[data-engrid-layout="centerrigt1col"]{
    .page-backgroundImage{
        figattribution {
            top: auto;
            right: auto;
            bottom: 0;
            left: 0;
            text-align: left;
        }
    }
}