:root{
    // HIGHLIGHTS
    --highlight-background-color: #227F9E;
    --highlight-font-color: #FFFFFF;
}

.highlight {
    background-color: var(--highlight-background-color);
    color: var(--highlight-font-color);
    padding: 0.15em;
    display: inline-block;
}

.highlight:before {
    margin-bottom: -0.41rem;
    content: "";
    display: block;
    height: 0;
    width: 0;
}

.highlight::after {
    margin-top: -0.37em;
    content: "";
    display: block;
    height: 0;
    width: 0;
}