// High resolution imagery can cause FPS drops when scrolling due to page redraws
// REF: Fix scrolling performance with CSS will-change property (https://www.fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property/)
body[data-engrid-backgroundImage="set"]{

  .page-backgroundImage{
    overflow: hidden; // added for before pseudo-element to help improve page redraw and subsequent page scroll FPS
    position: relative; // added for before pseudo-element to help improve page redraw and subsequent page scroll FPS
    z-index: -3;

    &:before {
      content: ' ';
      position: fixed; // instead of background-attachment
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: var(--theme-page-backgroundImage-url);
      will-change: transform; // creates a new paint 
    }

    // If the background image has an attribution it will be converted to a <figure> and the caption added, it can be displayed over top of the normal background image
    figure.image-with-attribution{
      position: fixed;
      top: 0;
      left: 0;
      background-image: var(--theme-page-backgroundImage-url);
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: top right;
    }

    figure.image-with-attribution img{
      display: none;
    }

  }

  &[data-engrid-layout="leftleft1col"],
  &[data-engrid-layout="centerleft1col"]{
    .page-backgroundImage:before{
      background-position: top right;
    }
  }
  
  &[data-engrid-layout="centercenter1col"],
  &[data-engrid-layout="centercenter2col"]{
    .page-backgroundImage:before{
      background-position: top center;
    }
  }
  
  &[data-engrid-layout="centerright1col"],
  &[data-engrid-layout="rightright1col"]{
    .page-backgroundImage:before{
      background-position: top left;
    }
  }     

  .page-backgroundImageOverlay {
    z-index: -1;
  }
}

body{

  .page-backgroundImage{
    z-index: -3;

     /* Style the video: 100% width and height to cover the entire window */
     video {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100vw;
      min-height: 100vh;
    }

  }

}