/* prettier-ignore */
.radio-to-buttons .en__field--radio input[type="radio"]+label,
.give-by-select .en__field--radio input[type="radio"]+label,
.en__field--donationAmt.en__field--radio input[type="radio"]+label,
.en__field--donationAmt .en__field__item--other input,
.en__field--recurrfreq.en__field--radio input[type="radio"]+label {
	border-radius: var(--theme-typography-button-border-radius);
}

/* prettier-ignore */
.radio-to-buttons .en__field--radio .en__field__input--radio+.en__field__label,
.give-by-select .en__field--radio .en__field__input--radio+.en__field__label,
.en__field--donationAmt.en__field--radio .en__field__input--radio+.en__field__label,
.en__field--recurrfreq.en__field--radio .en__field__input--radio+.en__field__label {
	margin-left: 0rem;
}

/* prettier-ignore */
.radio-to-buttons .en__field--radio .en__field__input--radio+.en__field__label:before,
.give-by-select .en__field--radio .en__field__input--radio+.en__field__label:before,
.en__field--donationAmt.en__field--radio .en__field__input--radio+.en__field__label:before,
.en__field--recurrfreq.en__field--radio .en__field__input--radio+.en__field__label:before {
	display: none;
}

/* prettier-ignore */
.radio-to-buttons .en__field--radio input[type="radio"]+label,
.radio-to-buttons .en__field--radio .en__field__item--other input[type="text"],
.give-by-select .en__field--radio input[type="radio"]+label,
.give-by-select .en__field--radio .en__field__item--other input[type="text"],
.en__field--donationAmt.en__field--radio input[type="radio"]+label,
.en__field--donationAmt.en__field--radio .en__field__item--other input[type="text"],
.en__field--donationAmt.en__field--radio .en__field__item--other input[type="tel"],
.en__field--donationAmt.en__field--radio .en__field__item--other input[type="number"],
.en__field--recurrfreq.en__field--radio input[type="radio"]+label {
	background-color: var(--theme-typography-button-background-color);
	color: var(--theme-typography-button-color);
}

/* prettier-ignore */
.radio-to-buttons .en__field--radio input[type="radio"]:checked+label,
.give-by-select .en__field--radio input[type="radio"]:checked+label,
.en__field--donationAmt.en__field--radio input[type="radio"]:checked+label,
.en__field--recurrfreq.en__field--radio input[type="radio"]:checked+label {
	text-transform: none;
	background-color: var(--theme-typography-button-focus-hover-background-color);
	color: var(--theme-typography-button-focus-hover-color);
}

/* prettier-ignore */
.radio-to-buttons .en__field--radio label.en__field__label.en__field__label--item,
.give-by-select .en__field--radio label.en__field__label.en__field__label--item,
.en__field--donationAmt.en__field--radio label.en__field__label.en__field__label--item,
.en__field--recurrfreq.en__field--radio label.en__field__label.en__field__label--item  {
	border: var(--theme-typography-button-border-width) solid var(--theme-typography-button-border-color);
	background-position-x: 40px;
}

/* prettier-ignore */
.radio-to-buttons .en__field__input--other,
.give-by-select .en__field__input--other,
.en__field--donationAmt.en__field__input--other{
	height: auto;
}

/* prettier-ignore */
.radio-to-buttons .en__field--radio input[type="radio"]:focus+label,
.give-by-select .en__field--radio input[type="radio"]:focus+label,
.en__field--donationAmt.en__field--radio input[type="radio"]:focus+label{
	outline: none;
	border: var(--theme-typography-button-border-width) solid var(--theme-typography-button-focus-hover-border-color);
}

// Remove Number Input Spinners on Other Input Gift Amount field https://stackoverflow.com/a/4298216
.en__field--donationAmt input[type="number"]::-webkit-inner-spin-button,
.en__field--donationAmt input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance: textfield;
}

[data-engrid-transaction-recurring-frequency] .en__field--donationAmt div:not(.en__field__item--other) .en__field__label--item::after{
	line-height: 2;
	font-size: 75%;
	margin-left: 0.1875rem;
	opacity: 0.5;
	text-transform: lowercase;
}

// Append "/mo" to giving amount labels
[data-engrid-transaction-recurring-frequency="monthly"] .en__field--donationAmt div:not(.en__field__item--other) .en__field__label--item::after{
  content: var(--give-monthly-donation-amount-appended-label);
}

// Append "/yr" to giving amount labels
[data-engrid-transaction-recurring-frequency="annual"] .en__field--donationAmt div:not(.en__field__item--other) .en__field__label--item::after {
	content: var(--give-annual-donation-amount-appended-label);
}

// Helper classes to hide/show content based on if a the gift is one-time or recurring and the gift's frequency
body{
	&[data-engrid-transaction-recurring="n"] .recurring-frequency-n-hide,
	&[data-engrid-transaction-recurring="n"] .recurring-frequency-once-hide, // Doesn't need data-engrid-transaction-recurring-frequency="once" defined to know the gift will be processed as one-time
	&:not([data-engrid-transaction-recurring="n"]) .recurring-frequency-n-show,
	&:not([data-engrid-transaction-recurring="n"]) .recurring-frequency-once-show, // Doesn't need data-engrid-transaction-recurring-frequency="once" defined to know the gift will be processed as one-time
	&[data-engrid-transaction-recurring="y"] .recurring-frequency-y-hide,
	&[data-engrid-transaction-recurring="y"][data-engrid-transaction-recurring-frequency="monthly"] .recurring-frequency-monthly-hide,
	&[data-engrid-transaction-recurring="y"][data-engrid-transaction-recurring-frequency="quarterly"] .recurring-frequency-quarterly-hide,
	&[data-engrid-transaction-recurring="y"][data-engrid-transaction-recurring-frequency="semi_annual"] .recurring-frequency-semi-annual-hide,
	&[data-engrid-transaction-recurring="y"][data-engrid-transaction-recurring-frequency="annual"] .recurring-frequency-annual-hide,
	&:not([data-engrid-transaction-recurring="y"]) .recurring-frequency-y-show,
	&:not([data-engrid-transaction-recurring="y"][data-engrid-transaction-recurring-frequency="monthly"]) .recurring-frequency-monthly-show,
	&:not([data-engrid-transaction-recurring="y"][data-engrid-transaction-recurring-frequency="quarterly"]) .recurring-frequency-quarterly-show,
	&:not([data-engrid-transaction-recurring="y"][data-engrid-transaction-recurring-frequency="semi_annual"]) .recurring-frequency-semi-annual-show,
	&:not([data-engrid-transaction-recurring="y"][data-engrid-transaction-recurring-frequency="annual"]) .recurring-frequency-annual-show{
		display: none;
	}
}
