// The Custom Properties defined here should no longer be used.
// This is maintained to provide as much backwards compatability as possible by mapping them to a replacement

:root{
    // Lazy Loaded Banner Image
     // As far as we can tell, this was never used
    --body-banner-image-background-color: var(--color-transparent);

     // Simplified the color defintions. Rarely used: https://github.com/search?q=org%3A4site-interactive-studios+var%28--error%29&type=code
    --error: var(--error-red);

     // As far as we can tell, this was never used
    --success: #33CC33;
    
     // As far as we can tell, this was never used
    --warning: #FCAC00;
}
  