/************************************
 * Loading spinner that gets added to the submit button on form submission
 * Depends on "loadingSubmitButton" in live-variables.ts
 ***********************************/

.loader-wrapper {
  display: flex;
  justify-content: center;
}

.loader {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.6rem;
  margin-top: 2px;
  margin-left: -2rem;
}

.loader-quart {
  border-radius: 50%;
  border: 0.375rem solid rgba(255, 255, 255, 0.4);
}

.loader-quart:before {
  content: "";
  position: absolute;
  top: -0.375rem;
  right: -0.375rem;
  bottom: -0.375rem;
  left: -0.375rem;
  border-radius: 3.125rem;
  border: 0.375rem solid transparent;
  border-top-color: #ffffff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
