// Styles Related to the Engaging Networks Page Builder
[data-engrid-theme]{
  --pagebuilder__background-color: #C1C0C0;
}


/*
* ##########################################################
* # Page Builder Custom Styles
* ##########################################################
*/

// Styles Related to the Page-Builder
#en__pagebuilder {
  // If in page builder, give the background a better color so that input fields stand out
  background-color: var(--pagebuilder__background-color) !important;
  opacity: 1;

  /* When in page builder we want to center the content area on the page and must reduce it by 50px to make it visible because of the sidebar */
  width: calc(100% - 51px);

  /* If the user accidentally deletes all content from the form, prevent it from completely collapsing in on itself and making it impossible for the user to add new content */
  form {
    min-height: 25px !important;
  }

  /* Sometimes our styles might cause a code blocks title and label to display inline, rather than in rows. This should help prevent that https://d.pr/v/vXlAUM */
  .en__placeholder__text {
    flex-direction: column !important;
  }

  // To help page editors identify images missing alt attributes which improve accesability
  img:not([alt]) {
    outline: 1px dashed var(--error__color);
  }

  // When in page builder display Overlay sections after their counterparts and not overtop of their target grid row. This way content editors can more easily interact with them
  .body-bannerOverlay {
    grid-row: body-bannerOverlay !important;
    background-color: var(--engrid__body-banner_background-color) !important;
  }

  // When in page builder display Overlay sections after their counterparts and not overtop of their target grid row. This way content editors can more easily interact with them
  .page-backgroundImageOverlay {
    grid-row: page-backgroundImageOverlay !important;
    background-color: var(--engrid__body-banner_background-color) !important;
  }

  // Helps position the Engaging Networks pagebuilder tabs that are shown on hover of the Advanced Row
  form > .en__component--advrow.en__component--active
    .en__component__actions.en__component__actions--advrow {
    grid-row: page;
  }

  /* Highlight images not using our method for lazy loading them */
  .page-backgroundImage img:not([data-src]) {
    border: 5px solid var(--error__color);
  }

  /* Adjust the editable space in the Page Editor so that the content can occupy as much space as possible */
  .en__container {
    margin-left: 1px !important;
    margin-right: 1px !important;
    margin-bottom: 0px !important;
    border: none !important;
  }

  // Includes both upper and lower case scenarios for typical field values
  .inmem-y,
  .inmem-n,
  .giveBySelect-card,
  .giveBySelect-ach,
  .giveBySelect-paypal,
  .inmem-Y,
  .inmem-N,
  .giveBySelect-Card,
  .giveBySelect-ACH,
  .giveBySelect-Paypal {
    background-color: #0000ff1a !important;
    &.pboAdvancedRow__preview .en__component--column {
      outline-color: #0000ff !important;
      z-index: 1;
    }
  }

  .live-giving-amount,
  .live-giving-upsell-amount,
  .live-giving-upsell-amount-raw,
  .live-giving-frequency {
    background-color: #00ff001a !important;
    &.pboAdvancedRow__preview .en__component--column {
      outline-color: #00ff00 !important;
      z-index: 1;
    }
  }

  .page-backgroundImage img {
    width: auto !important;
    height: 350px !important;
    margin: 0 auto;
  }

  .page-alert,
  .content-header,
  .body-headerOutside,
  .body-header,
  .body-title,
  .body-banner,
  .body-bannerOverlay,
  .body-top,
  .body-side,
  .body-main,
  .body-bottom,
  .body-footer,
  .body-footerOutside,
  .content-footerSpacer,
  .content-preFooter,
  .content-footer,
  .page-backgroundImage,
  .page-backgroundImageOverlay,
  .page-customCode {
    min-height: 5rem;
  }

  .messageOverlay.hidden {
    visibility: hidden;
    display: block !important;

    &:only-child:before {
      font-size: 1rem;
      font-weight: 700;
      color: #999999;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &:only-child {
      visibility: visible;
      color: transparent;
      background-color: transparent;
    }

    &:only-child .messageOverlay__message {
      display: none;
    }
  }

  /* prettier-ignore */
  .page-alert .messageOverlay.hidden:only-child:before { content: "Page Alert"; }
  /* prettier-ignore */
  .content-header .messageOverlay.hidden:only-child:before { content: "Content Header"; }
  /* prettier-ignore */
  .body-headerOutside .messageOverlay.hidden:only-child:before { content: "Body Header Outside"; }
  /* prettier-ignore */
  .body-header .messageOverlay.hidden:only-child:before { content: "Body Header (Spacer)"; }
  /* prettier-ignore */
  .body-title .messageOverlay.hidden:only-child:before { content: "Body Title (Copy)"; }
  /* prettier-ignore */
  .body-banner .messageOverlay.hidden:only-child:before { content: "Body Banner"; }
  /* prettier-ignore */
  .body-bannerOverlay .messageOverlay.hidden:only-child:before { content: "Body Banner Overlay"; }
  /* prettier-ignore */
  .body-top .messageOverlay.hidden:only-child:before { content: "Body Top (Copy)"; }
  /* prettier-ignore */
  .body-side .messageOverlay.hidden:only-child:before { content: "Body Side (DEPRECATED)"; }
  /* prettier-ignore */
  .body-main .messageOverlay.hidden:only-child:before { content: "Body Main (Form)"; }
  /* prettier-ignore */
  .body-bottom .messageOverlay.hidden:only-child:before { content: "Body Bottom (Copy)"; }
  /* prettier-ignore */
  .body-footer .messageOverlay.hidden:only-child:before { content: "Body Footer (Spacer)"; }
  /* prettier-ignore */
  .body-footerOutside .messageOverlay.hidden:only-child:before { content: "Body Footer Outside"; }
  /* prettier-ignore */
  .content-footerSpacer .messageOverlay.hidden:only-child:before { content: "Content Footer (Spacer)"; }
  /* prettier-ignore */
  .content-preFooter .messageOverlay.hidden:only-child:before { content: "Content Pre Footer"; }
  /* prettier-ignore */
  .content-footer .messageOverlay.hidden:only-child:before { content: "Content Footer"; }
  /* prettier-ignore */
  .page-backgroundImage .messageOverlay.hidden:only-child:before { content: "Page Background Image"; }
  /* prettier-ignore */
  .page-backgroundImageOverlay .messageOverlay.hidden:only-child:before { content: "Page Background Image Overlay"; }
  /* prettier-ignore */
  .page-customCode .messageOverlay.hidden:only-child:before { content: "Custom Code"; }
}

/*
* ##########################################################
* # Page Builders Custom Layout Editor
* ##########################################################
*/

// @TODO The "en__component--advrow" styling will break the Engaging Networks Free and Flexible templates because they might have one or more advanced rows
#EN__RootElement {
  .pboAdvancedRow__preview {
    // .en__component--advrow {
    //   display: grid !important;
    //   grid-template-rows:
    //     [
    //     page-start page-alert-start] minmax(0, auto) [page-alert-end
    //     content-header-start] minmax(0, auto) [content-header-end
    //     body-headerOutside-start] minmax(0, auto) [body-headerOutside-end
    //     body-header-start] minmax(0, auto) [body-header-end
    //     body-title-start] minmax(0, auto) [body-title-end
    //     body-banner-start] minmax(0, auto) [body-banner-end
    //     body-bannerOverlay-start] minmax(0, auto) [body-bannerOverlay-end
    //     body-top-start] minmax(0, auto) [body-top-end
    //     body-side-start] minmax(0, auto) [body-side-end
    //     body-main-start] minmax(0, auto) [body-main-end
    //     body-bottom-start] minmax(0, auto) [body-bottom-end
    //     body-footer-start] minmax(0, auto) [body-footer-end
    //     body-footerOutside-start] minmax(0, auto) [body-footerOutside-end
    //     content-footerSpacer-start] minmax(0, auto) [content-footerSpacer-end c
    //     ontent-preFooter-start] minmax(0, auto) [content-preFooter-end
    //     content-footer-start] minmax(0, auto) [content-footer-end
    //     page-backgroundImage-start] minmax(0, auto) [page-backgroundImage-end
    //     page-backgroundImageOverlay-start] minmax(
    //       0,
    //       auto
    //     ) [page-backgroundImageOverlay-end page-end
    //     page-customCode-start] minmax(0, auto) [page-customCode-end
    //     ] !important;
    // }

    // .en__component--advrow,
    // .en__component--advrow .pseudo-subgrid {
    //   /* autoprefixer grid: off */
    //   grid-template-columns:
    //     [
    //     pc-start lpc-start] minmax(25px, 1fr) [lpc-end
    //     cc-start lcc-start] minmax(25px, 1fr) [lcc-end
    //     bc-start lbc-start] minmax(25px, 2fr) [lbc-end
    //     rbc-start] minmax(25px, 2fr) [rbc-end bc-end
    //     rcc-start] minmax(25px, 1fr) [rcc-end cc-end
    //     rpc-start] minmax(25px, 1fr) [rpc-end pc-end
    //     ] !important;

    //   // grid-template-columns: [
    //   //   pc-start lpc-start lpc-end cc-start lcc-start lcc-end bc-start lbc-start lbc-end] auto [rbc-start rbc-end bc-end rcc-start rcc-end cc-end rpc-start rpc-end pc-end
    //   // ]
    // }

    /* Page builder adds a hidden div to the bottom of the layout, this can result in undesired spacing */
    .en__component--row:nth-last-child(2) {
      padding-bottom: 0px;
    }

    // Vertically and Horizontally center the labels
    .en__component--advcolumn {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .en__component--column {
      // margin-bottom: 1px; /* Something in EN is causing outlines to overlap, this prevents the issue */

      &.page-alert:before,
      &.content-header:before,
      &.body-headerOutside:before,
      &.body-header:before,
      &.body-title:before,
      &.body-banner:before,
      &.body-bannerOverlay:before,
      &.body-top:before,
      &.body-side:before,
      &.body-main:before,
      &.body-bottom:before,
      &.body-footer:before,
      &.body-footerOutside:before,
      &.content-footerSpacer:before,
      &.content-preFooter:before,
      &.content-footer:before,
      &.page-backgroundImage:before,
      &.page-backgroundImageOverlay:before,
      &.page-customCode:before{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 10px;
        overflow: hidden;
      }

      &.page-alert:before {
        content: "Page Alert";
      }

      &.content-header:before {
        content: "Content Header";
      }

      &.body-headerOutside:before {
        content: "Body Header Outside";
      }

      &.body-header:before {
        content: "Body Header Spacer";
      }

      &.body-title:before {
        content: "Body Title";
      }

      &.body-banner:before {
        content: "Body Banner";
      }

      &.body-bannerOverlay:before {
        content: "Body Banner Overlay";
      }

      &.body-top:before {
        content: "Body Top (Copy)";
      }

      &.body-side:before {
        content: "Body Side (Legacy)";
      }

      &.body-main:before {
        content: "Body Main (Form)";
      }

      &.body-bottom:before {
        content: "Body Bottom (Copy)";
      }

      &.body-footer:before {
        content: "Body Footer Spacer";
      }

      &.body-footerOutside:before {
        content: "Body Footer Outside";
      }

      &.content-footerSpacer:before {
        content: "Content Footer Spacer";
      }

      &.content-preFooter:before {
        content: "Content Pre Footer";
      }

      &.content-footer:before {
        content: "Content Footer";
      }

      &.page-backgroundImage:before {
        content: "Page Background Image";
      }

      &.page-backgroundImageOverlay:before {
        content: "Page Background Image Overlay";
      }

      &.page-customCode:before {
        content: "Page Custom Code";
      }
    }

    // .hide {
    //   background-color: #ff00001a !important;
    //   &.pboAdvancedRow__preview .en__component--column {
    //     outline-color: #ff0000 !important;
    //     z-index: 1;
    //   }
    // }
  }

  // In Page Builder but not in the Advanced Row Preview Modal
  div:not(.pboAdvancedRow__preview) > .en__component--advrow > {
    .page-backgroundImage,
    .page-customCode {
      background-color: var(--color_transparent) !important;
    }
  }
}

/*
* ##########################################################
* # Page Builder Visual Changes for Editing Restricted Library Components
* .edit-warning - https://d.pr/i/11bENF
* .edit-lock - https://d.pr/i/vsA4ao
* ##########################################################
*/

/* Make the border of component with an edit warning, red  */
#en__pagebuilder .edit-warning.en__component.en__component--active.en__component--activeTarget{
  box-shadow: 0 0 0 2px #f12222;
}

/* Make the border of component with an edit lock, black  */
#en__pagebuilder .edit-lock.en__component.en__component--active.en__component--activeTarget {
  box-shadow: 0 0 0 2px #000000;
}

/* Remove action handle from its normal position */
#en__pagebuilder .edit-warning a.en__component__action--handle,
#en__pagebuilder .edit-lock a.en__component__action--handle{
  // background-image: none;
  // padding-left: 6px;
}

/* Style the edit warning and lock messages to match the styling of the component actions */
#en__pagebuilder .edit-warning.en__component.en__component--active.en__component--activeTarget .en__component__actions::after,
#en__pagebuilder .edit-lock.en__component.en__component--active.en__component--activeTarget .en__component__actions::after{
  display: block;
  text-decoration: none;
  line-height: 30px;
  font-weight: 700;
  padding: 0 6px 0 28px;
  min-width: 30px;
  text-align: left;
  z-index: 9999;
  white-space: nowrap;
  // cursor: move;
  // background-image: url(https://e-activist.com/ea-demo/frontend/build/3.63.1/images/icons/move-16-white.png) !important;
  // background-position: 6px 50%;
  // background-repeat: no-repeat;
}

/* Style edit warning messages to match the styling of the component actions */
#en__pagebuilder .edit-warning.en__component.en__component--active.en__component--activeTarget .en__component__actions{
  background-color: #f12222;
  color: #fff;
}

/* Style the edit lock messages to match the styling of the component actions */
#en__pagebuilder .edit-lock.en__component.en__component--active.en__component--activeTarget .en__component__actions{
  background-color: #000000;
  color: #fff;
}

/* Add edit warning message */
#en__pagebuilder .edit-warning.en__component.en__component--active.en__component--activeTarget .en__component__actions::after{
  content: "Unlink Before Editing";
}

/* Add edit lock message */
#en__pagebuilder .edit-lock.en__component.en__component--active.en__component--activeTarget .en__component__actions::after{
  content: "Edit From Library";
}

/* Hide the edit action when editing of the form component has been locked */
#en__pagebuilder .edit-lock.en__component.en__component--active.en__component--activeTarget>.en__component__actions>a.en__component__action.en__component__action--settings{
  display: none;
}

/* Change the background color of the component actions, when an edit warning is added, to further visually differentiate them */
#en__pagebuilder .edit-warning.en__component.en__component--active.en__component--activeTarget>.en__component__actions>a.en__component__action{
  background-color: #f12222;
}

/* Change the background color of the component actions, when an edit warning is added, to further visually differentiate them */
#en__pagebuilder .edit-lock.en__component.en__component--active.en__component--activeTarget>.en__component__actions>a.en__component__action{
  background-color: #000000;
}