:root{

    // COLOR PALETTE
    --color_transparent: transparent;
    --color_white: hsl(0, 0%, 100%);
    --color_off-white: hsl(0, 0%, 83%);
    --color_light-gray: hsl(0, 0%, 67%);
    --color_gray: hsl(0, 0%, 50%);
    --color_dark-gray: hsl(0, 0%, 33%);
    --color_off-black: hsl(0, 0%, 17%);
    --color_black: hsl(0, 0%, 0%);

    // CTA COLORS
    --color_cta: #000000;
    --color_cta_hover: #22a3cb;
}