[data-engrid-theme] {
  --ticket_selector-top-offset: -4px; // Helps align the ticket selector with the ticket name and ticket count. REF: https://cln.sh/gk8cJwVw
}

//Event styling
.en__additional__amount,
.en__additional__label,
.en__ticket__currency,
.en__ticket__name,
.en__ticket__price {
  font-size: inherit;
}

.en__ticket__selector {
  display: flex;
  position: relative;
  top: var(--ticket_selector-top-offset);
}

.en__additional__amount,
.en__ticket__field--cost {
  width: initial;
}

.en__additional__amount .en__additional__input {
  display: inline;
}

.en__additional__input {
  margin-right: 0.25rem;
}

.en__additional__promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.en__ticket__field--quantity {
  width: initial;
}

.en__ticket__minus,
.en__ticket__plus {
  background-color: transparent;
}

.en__ticket__minus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAGlJREFUWEftlcENwCAMAzHLJzu3qlF4oapfcB9mAR9HgtHEB+L8ZgAbsAEbsAFExLV+xwBIsgPoJLcbKoD73QfAzD0DkJnPVyGduH3llgEqG1EP8Icn0A6hfA2VAzi3wAA2YAM2YANqAwPwPy7Boa/oUQAAAABJRU5ErkJggg==);
  background-size: 16px;
  background-position: right 0.25rem center;
  width: calc(16px + 0.25rem);
  margin-left: 2rem;
}

.en__ticket__plus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAMBJREFUWEftllEKAyEMRB1pe2ZzguTMbTElRWGRsiVQ1y7E76jjc8yI5BzMrHtTiAieJV3FtnAICAJBIAgEgZ8TYObHtncDUFXNALKqulu1JwesFsz8HCcB732PESAi9ZPqI07fCezGqxept96uYK2Af7iCtSZc/gy9pvnmmfgTBoHpBHrfGFu1hZgZupSSPcZ2p52F1xhWbfOqqomILlMFiMh9jOsW4RVALaXcpgpojQvb/0IXkFJSIrqGgFMReAHAxsrBRHWuKgAAAABJRU5ErkJggg==);
  background-size: 16px;
  background-position: left 0.25rem center;
  width: calc(16px + 0.25rem);
}

.en__ticket__minus:hover,
.en__ticket__minus:focus,
.en__ticket__plus:hover,
.en__ticket__plus:focus {
  background-color: #ffffff;
}

.en__ticketBlock {
  border: none;
  background-color: initial;
}

.en__tickets {
  padding-left: 0;
  padding-right: 0;
}

.en__ticket__field--info {
  padding-left: 0;
}

.en__ticket__selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.en__ticket__minus,
.en__ticket__plus {
  border: none;
  flex-basis: 20px;
  height: auto;
}

.en__ticket__minus:focus,
.en__ticket__minus:hover,
.en__ticket__plus:focus,
.en__ticket__plus:hover {
  background-color: initial;
}

.en__ticket__field--quantity {
  padding-right: 0;
  height: auto;
}

.en__ticket__remaining {
  text-align: right;
}

.en__eventOccurrences__columnHead {
  display: flex;
  align-items: center;
}

input[type="text"].en__ticket__quantity {
  height: fit-content !important;
  border: none !important;
  box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
  flex-basis: auto;
}

.en__registrants,
.en__registrants__registrant {
  padding-left: 0;
  padding-right: 0;
}

.en__ticketSummary {
  padding-top: 14px;
}

.en__ticketSummary {
  display: none;
}

.en__additional__label {
  padding-left: 0;
}

.en__orderSummary {
  padding: 0;

  > * > :first-child {
    padding-left: 0;
  }

  > * > :last-child {
    padding-right: 0;
  }
}

.en__ticketRecurring__select,
.en__ticketSummary__checkout {
  width: auto;
  background-color: var(--button_background-color);
  margin-bottom: 0;

  &:hover {
    background-color: var(--button_background-color_hover);
  }
}

.en__eventOccurrencesDateSelector__label {
  width: 100%;
}

// button.en__eventOccurrence__select{
//   margin-bottom: 0;
//   background-color: var(--button_background-color);

//   &:hover{
//     background-color: var(--button_background-color_hover);
//   }
// }

button.en__eventOccurrence__select {
  margin-bottom: 0;
}

button.en__eventOccurrence__select > label {
  font-family: var(--button_font-family);
}

.en__tickets {
  display: block;
}

.en__ticket {
  display: grid;
  grid-template-columns: 1fr minmax(5ch, max-content) min-content;
  grid-template-rows: 1fr;
  gap: 1em;
  grid-auto-flow: column;
  grid-template-areas: "en__ticket__field--info en__ticket__field--cost en__ticket__field--quantity";
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.en__ticket__field--info {
  justify-self: start;
  grid-area: en__ticket__field--info;
  padding: 0;
}

.en__ticket__field--cost {
  justify-self: center;
  grid-area: en__ticket__field--cost;
  padding: 0;
}

.en__ticket__field--quantity {
  justify-self: end;
  grid-area: en__ticket__field--quantity;
  padding: 0;
}

.en__additional__amount,
.en__ticket__field--cost {
  width: max-content;
}

.en__ticket__field {
  border-bottom: none;
}

.en__ticket__selector {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "en__ticket__minus en__ticket__quantity en__ticket__plus"
    "en__ticket__remaining en__ticket__remaining en__ticket__remaining";
  width: min-content;
  margin-left: auto;
}
.en__ticket__minus {
  justify-self: end;
  grid-area: en__ticket__minus;
}
.en__ticket__plus {
  justify-self: start;
  grid-area: en__ticket__plus;
}
.en__ticket__remaining {
  grid-area: en__ticket__remaining;
}
.en__ticket__quantity {
  justify-self: center;
  align-self: center;
  grid-area: en__ticket__quantity;
}

.en__ticket__name {
  word-break: initial;
}

.en__additional {
  display: grid;
  grid-template-columns: minmax(5ch, max-content) min-content auto;
  grid-template-rows: 1fr;
  gap: 1em;
  grid-auto-flow: column;
  grid-template-areas: "en__additional__label en__additional__amount en__additional__promo";
  // border-bottom: 1px solid #bfbfbf;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.en__additional__label {
  justify-self: start;
  align-self: center;
  grid-area: en__additional__label;
}

.en__additional__amount {
  justify-self: center;
  grid-area: en__additional__amount;
}

.en__additional__promo {
  justify-self: end;
  grid-area: en__additional__promo;
}

@media screen and (max-width: 600px) {
  .en__ticket {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .en__ticket__name,
  .en__ticket__desc,
  .en__ticket__field--cost {
    text-align: center;
  }

  .en__ticket__field--cost {
    width: 100%;
  }

  .en__ticket__selector {
    margin-right: auto;
  }

  .en__ticket__remaining {
    justify-self: center;
    padding-top: 0.5rem;
  }

  .en__additional {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .en__additional__amount,
  .en__additional__promo {
    align-self: center;
  }

  .en__additional__promo {
    flex-direction: column;
  }

  .en__additional__promo:before {
    content: "Promo Code";
    display: block;
    margin-bottom: 1ch;
    margin-top: 1rem;
    font-weight: 700;
  }

  .en__ticket__plus {
    margin-right: 2rem;
  }
}
