/************************************
* Browser Form Autofill
* REF: https://medium.com/@brunn/detecting-autofilled-fields-in-javascript-aed598d25da7
***********************************/

/* There is a browser bug that causes small text to be shown during the process of autofilling, no workaround at the moment */
/* https://stackoverflow.com/questions/57242841/input-text-very-small-when-hovering-on-autofill-suggestion */
/* https://bugs.chromium.org/p/chromium/issues/detail?id=953689#c24 */
/* Screencast: https://d.pr/v/Kvo5BW (Broken on left, fixed on right) */

@-webkit-keyframes onAutoFillStart {
  from {
    /**/
  }
  to {
    /**/
  }
}

@keyframes onAutoFillStart {
  from {
    /**/
  }
  to {
    /**/
  }
}
@-webkit-keyframes onAutoFillCancel {
  from {
    /**/
  }
  to {
    /**/
  }
}
@keyframes onAutoFillCancel {
  from {
    /**/
  }
  to {
    /**/
  }
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  /* Expose a hook for JavaScript when autofill is shown */
  /* JavaScript can capture 'animationstart' events */
  -webkit-animation-name: onAutoFillStart;
  animation-name: onAutoFillStart;

  /* Make the background color transition really slowly */
  -webkit-transition: background-color 50000s ease-in-out 0s;
  transition: background-color 50000s ease-in-out 0s;
}

input:not(:-webkit-autofill) {
  /* Expose a hook for JS onAutoFillCancel */
  /* JavaScript can capture 'animationstart' events */
  -webkit-animation-name: onAutoFillCancel;
  animation-name: onAutoFillCancel;
}

/* Prevent any CSS Transition from making the autofill text visually transition withing the input field */
.is-autofilled,
.is-autofilled label {
  -webkit-transition: none !important;
  transition: none !important;
}

/* A fix for tiny font sizes on autofill: https://stackoverflow.com/a/60379185/815683 */
/* @TODO Might be able to remove the above work arounds. Ensure to test that removal does not break the ability for JS to add "is-autofilled" */
/* @TODO See above line, it looks like is-autoffiled is not being added to the input, so the above work arounds are not working and that code might be able to be depreciated */
input:-webkit-autofill::first-line {
  font-size: var(--input_font-size);
}

textarea:-webkit-autofill::first-line {
  font-size: var(--textarea_font-size);
}

select:-webkit-autofill::first-line {
  font-size: var(--select_font-size);
}
