[data-engrid-theme] {
  // SEMANTIC GEOMETRIC SCALING
  --scale-up_20pct: 1.2;
  --scale-up_40pct: 1.4;
  --scale-up_80pct: 1.8;
  --scale-up_160pct: 2.6;
  --scale-down_20pct: 0.8;
  --scale-down_40pct: 0.6;
  --scale-down_80pct: 0.2;

  // @TODO Revisit these spacing values and calculations
  // @BODY Look into replicating "Teach a System of Space Visually" as a Development page that shows all styling decisions for the brand https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7
  --spacing_sm: 0.8652rem;
  --spacing: calc(0.8652rem * 0.75);
  --spacing_lg: calc(0.8652rem * 2.5);
  --spacing_xlg: calc(0.8652rem * 5);
}
