figure.image-with-attribution {
	margin: 0 auto; // Mirrors settings added to all <img>'s
    max-width: 100%; // Mirrors settings added to all <img>'s
	position: relative;
    display: table; // The <figattribution> overlay only works when this is set to 'inline-block' or 'table' and 'table' was chosen because it will continue to respect the auto margin set above while setting it to an inline-block will cause it to ignore those auto margins. Recording: https://d.pr/v/QhPLOO

    img {
        position: relative;
        display: block;
        height: auto;
        max-width: 100%;
    }

    figattribution {
        font-family: var(--theme-image-attribution-overlay-font-family);
        position: absolute;
        background-color: var(--theme-image-attribution-overlay-background-color);
        margin: var(--theme-image-attribution-overlay-margin);
        text-shadow: var(--theme-image-attribution-overlay-text-shadow);
        font-size: var(--theme-image-attribution-overlay-font-size);
        color: var(--theme-image-attribution-overlay-color);
        font-style: var(--theme-image-attribution-overlay-font-style);
        display: inline-block;
        padding: var(--theme-image-attribution-overlay-padding);
        z-index: 1;
    }

    figattribution a,
    figattribution a:hover,
    figattribution a:focus {
        font-size: var(--theme-image-attribution-overlay-font-size);
        color: var(--theme-image-attribution-overlay-color);
        font-family: var(--theme-image-attribution-overlay-font-family);
        color: var(--theme-image-attribution-overlay-color);
        font-style: var(--theme-image-attribution-overlay-font-style);
        text-decoration: none;
    }

    figattribution.attribution-topright {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        text-align: right;
    }

    figattribution.attribution-bottomright {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        text-align: right;
    }

    figattribution.attribution-bottomleft {
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        text-align: left;
    }

    figattribution.attribution-topleft {
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        text-align: left;
    }

    // If for some reason there is no set alignment for the attribution overlay, set it to bottom right
    figattribution:not([class*="attribution-"]) {
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        text-align: left;
    }

}