[data-engrid-theme] {
  // ENGRID BACKGROUND IMAGE SECTION'S BACKGROUND PATTERN
  // This is a background pattern that is shown before the hi-resolution background image is lazy loaded in, if at all
  // It's background color "--engrid__page-backgroundImage_background-color" should be the average color of the image
  // REF: (https://doodad.dev/pattern-generator/)
  --engrid__page-backgroundImage_url: "url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"; // Invisible GIF
}

// There is no reason to ever show the background image outside of pagebuilder
// Resolves: https://d.pr/i/DnfPQF
// REF: https://app.productive.io/2650-4site-interactive-studios-inc/tasks/1513773
body:not(#en__pagebuilder) {
  .page-backgroundImage {
    img {
      display: none;
    }
  }
}

body[data-engrid-page-background="image"] {
  // High resolution imagery can cause FPS drops when scrolling due to page redraws
  // REF: Fix scrolling performance with CSS will-change property (https://www.fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property/)
  .page-backgroundImage {
    overflow: hidden; // added for before pseudo-element to help improve page redraw and subsequent page scroll FPS
    position: relative; // added for before pseudo-element to help improve page redraw and subsequent page scroll FPS

    &:before {
      content: " ";
      position: fixed; // instead of background-attachment
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: var(--engrid__page-backgroundImage_url);
      will-change: transform; // creates a new paint
    }

    // If the background image has an attribution it will be converted to a <figure> and the caption added, it can be displayed over top of the normal background image
    figure.media-with-attribution {
      position: fixed;
      top: 0;
      left: 0;
      background-image: var(--engrid__page-backgroundImage_url);
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: top right;
    }
  }

  &[data-engrid-layout="leftleft1col"],
  &[data-engrid-layout="centerleft1col"] {
    .page-backgroundImage:before {
      background-position: top right;
    }
  }

  &[data-engrid-layout="centercenter1col"],
  &[data-engrid-layout="centercenter2col"] {
    .page-backgroundImage:before {
      background-position: top center;
    }
  }

  &[data-engrid-layout="centerright1col"],
  &[data-engrid-layout="rightright1col"] {
    .page-backgroundImage:before {
      background-position: top left;
    }
  }
}

body {
  .page-backgroundImage {
    video {
      position: fixed;
      min-width: 100vw;
      min-height: 100vh;
      object-fit: cover;
    }

    // Crop video on center (default)
    video:not(.crop-on-right):not(.crop-on-left) {
      left: 50%; /* % of surrounding element */
      top: 50%;
      transform: translate(-50%, -50%); /* % of current element */
    }

    // Crop video to the left
    video.crop-on-left {
      right: 0;
      top: 50%;
      transform: translate(0%, -50%); /* % of current element */
    }

    // Crop video to the right
    video.crop-on-right {
      left: 0;
      top: 50%;
      transform: translate(0%, -50%); /* % of current element */
    }
  }
}

@mixin engrid_replace-banner-with-background($layout) {
  // Hide the background media
  .page-backgroundImage,
  .page-backgroundImage:before {
    display: none;
  }

  // Depends on page-background.ts
  // Documentation: https://docs.google.com/document/d/1zF-86Iq8tCRk4HCv-JaJYZulkC273x-_QODUed9F0Pw/edit#heading=h.72pw1gcv9zk7
  @at-root {
    // [data-engrid-layout="#{$layout}"][data-replace-banner-with-background="if-background-exists"][data-engrid-page-background="video"],
    // [data-engrid-layout="#{$layout}"][data-replace-banner-with-background="if-background-video"][data-engrid-page-background="video"],
    // [data-engrid-layout="#{$layout}"][data-replace-banner-with-background="if-banner-empty"][data-engrid-body-banner="empty"][data-engrid-page-background="video"],
    // [data-engrid-layout="#{$layout}"][data-replace-banner-with-background="if-banner-empty-or-background-video"][data-engrid-body-banner="empty"][data-engrid-page-background="video"],
    // [data-engrid-layout="#{$layout}"][data-replace-banner-with-background="if-banner-empty-or-background-video"][data-engrid-page-background="video"]
    // [data-engrid-layout="#{$layout}"][data-replace-banner-with-background="if-background-exists"][data-engrid-page-background="image"],
    // [data-engrid-layout="#{$layout}"][data-replace-banner-with-background="if-banner-empty-or-background-video"][data-engrid-body-banner="empty"][data-engrid-page-background="image"],
    [data-engrid-layout="#{$layout}"][data-replace-banner-with-background="if-background-image"][data-engrid-page-background="image"],
    [data-engrid-layout="#{$layout}"][data-replace-banner-with-background="if-banner-empty"][data-engrid-body-banner="empty"][data-engrid-page-background="image"] {
      [class*="body-banner"] {
        display: none;
      }

      [class*="page-backgroundImage"] {
        grid-column: pc;
        grid-row: body-banner;

        video,
        figure {
          position: absolute !important;
          top: 0 !important;
          left: 0 !important;
          transform: none !important;
          width: 100vw !important;
          height: 100% !important;
          aspect-ratio: 16/9;
        }

        img {
          display: block !important;

          // If the background image has a height set using the Style attribute, force it to have a height of auto
          &[style] {
            height: auto !important;
          }
        }

        &::before {
          content: none !important;
        }
      }
    }
  }
}

@mixin engrid_hide-background-on-desktop {
  &[data-engrid-embedded] {
    [class*="page-backgroundImage"] {
      display: none !important;
    }
  }
}
