// Styles Related to the Engaging Networks Page Builder
:root{
  --pagebuilder__background-color: #C1C0C0;
}


/*
* ##########################################################
* # Page Builder Custom Styles
* ##########################################################
*/

// Styles Related to the Page-Builder
#en__pagebuilder {
  // If in page builder, give the background a better color so that input fields stand out
  background-color: var(--pagebuilder__background-color) !important;
  opacity: 1;

  /* When in page builder we want to center the content area on the page and must reduce it by 50px to make it visible because of the sidebar */
  width: calc(100% - 51px);

  /* If the user accidentally deletes all content from the form, prevent it from completely collapsing in on itself and making it impossible for the user to add new content */
  form {
    min-height: 25px !important;
  }

  .page-backgroundImage,
  .page-customCode {
    background-color: var(--color_transparent) !important;
  }

  /* Sometimes our styles might cause a code blocks title and label to display inline, rather than in rows. This should help prevent that https://d.pr/v/vXlAUM */
  .en__placeholder__text {
    flex-direction: column !important;
  }

  // To help page editors identify images missing alt attributes which improve accesability
  img:not([alt]) {
    outline: 1px dashed var(--error__color);
  }

  // When in page builder display Overlay sections after their counterparts and not overtop of their target grid row. This way content editors can more easily interact with them
  .body-bannerOverlay {
    grid-row: body-bannerOverlay !important;
    background-color: var(--engrid__body-banner_background-color) !important;
  }

  // When in page builder display Overlay sections after their counterparts and not overtop of their target grid row. This way content editors can more easily interact with them
  .page-backgroundImageOverlay {
    grid-row: page-backgroundImageOverlay !important;
    background-color: var(--engrid__body-banner_background-color) !important;
  }

  // Helps position the Engaging Networks pagebuilder tabs that are shown on hover of the Advanced Row
  .en__component--advrow.en__component--active
    .en__component__actions.en__component__actions--advrow {
    grid-row: page;
  }

  /* Highlight images not using our method for lazy loading them */
  .page-backgroundImage img:not([data-src]) {
    border: 5px solid var(--error__color);
  }

  /* Adjust the editable space in the Page Editor so that the content can occupy as much space as possible */
  .en__container {
    margin-left: 1px !important;
    margin-right: 1px !important;
    margin-bottom: 0px !important;
    border: none !important;
  }

  // Includes both upper and lower case scenarios for typical field values
  .inmem-y,
  .inmem-n,
  .giveBySelect-card,
  .giveBySelect-ach,
  .giveBySelect-paypal,
  .inmem-Y,
  .inmem-N,
  .giveBySelect-Card,
  .giveBySelect-ACH,
  .giveBySelect-Paypal {
    background-color: #0000ff1a !important;
    &.pboAdvancedRow__preview .en__component--column {
      outline-color: #0000ff !important;
      z-index: 1;
    }
  }

  .live-giving-amount,
  .live-giving-upsell-amount,
  .live-giving-upsell-amount-raw,
  .live-giving-frequency {
    background-color: #00ff001a !important;
    &.pboAdvancedRow__preview .en__component--column {
      outline-color: #00ff00 !important;
      z-index: 1;
    }
  }

  .page-backgroundImage img {
    width: auto !important;
    height: 350px !important;
    margin: 0 auto;
  }

  .page-alert,
  .content-header,
  .body-headerOutside,
  .body-header,
  .body-title,
  .body-banner,
  .body-bannerOverlay,
  .body-top,
  .body-side,
  .body-main,
  .body-bottom,
  .body-footer,
  .body-footerOutside,
  .content-footerSpacer,
  .content-preFooter,
  .content-footer,
  .page-backgroundImage,
  .page-backgroundImageOverlay,
  .page-customCode {
    min-height: 5rem;
  }

  .messageOverlay.hidden {
    visibility: hidden;
    display: block !important;

    &:only-child:before {
      font-size: 1rem;
      font-weight: 700;
      color: #999999;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &:only-child {
      visibility: visible;
      color: transparent;
      background-color: transparent;
    }

    &:only-child .messageOverlay__message {
      display: none;
    }
  }

  /* prettier-ignore */
  .page-alert .messageOverlay.hidden:only-child:before { content: "Page Alert"; }
  /* prettier-ignore */
  .content-header .messageOverlay.hidden:only-child:before { content: "Content Header"; }
  /* prettier-ignore */
  .body-headerOutside .messageOverlay.hidden:only-child:before { content: "Body Header Outside"; }
  /* prettier-ignore */
  .body-header .messageOverlay.hidden:only-child:before { content: "Body Header (Spacer)"; }
  /* prettier-ignore */
  .body-title .messageOverlay.hidden:only-child:before { content: "Body Title (Copy)"; }
  /* prettier-ignore */
  .body-banner .messageOverlay.hidden:only-child:before { content: "Body Banner"; }
  /* prettier-ignore */
  .body-bannerOverlay .messageOverlay.hidden:only-child:before { content: "Body Banner Overlay"; }
  /* prettier-ignore */
  .body-top .messageOverlay.hidden:only-child:before { content: "Body Top (Copy)"; }
  /* prettier-ignore */
  .body-side .messageOverlay.hidden:only-child:before { content: "Body Side (DEPRECATED)"; }
  /* prettier-ignore */
  .body-main .messageOverlay.hidden:only-child:before { content: "Body Main (Form)"; }
  /* prettier-ignore */
  .body-bottom .messageOverlay.hidden:only-child:before { content: "Body Bottom (Copy)"; }
  /* prettier-ignore */
  .body-footer .messageOverlay.hidden:only-child:before { content: "Body Footer (Spacer)"; }
  /* prettier-ignore */
  .body-footerOutside .messageOverlay.hidden:only-child:before { content: "Body Footer Outside"; }
  /* prettier-ignore */
  .content-footerSpacer .messageOverlay.hidden:only-child:before { content: "Content Footer (Spacer)"; }
  /* prettier-ignore */
  .content-preFooter .messageOverlay.hidden:only-child:before { content: "Content Pre Footer"; }
  /* prettier-ignore */
  .content-footer .messageOverlay.hidden:only-child:before { content: "Content Footer"; }
  /* prettier-ignore */
  .page-backgroundImage .messageOverlay.hidden:only-child:before { content: "Page Background Image"; }
  /* prettier-ignore */
  .page-backgroundImageOverlay .messageOverlay.hidden:only-child:before { content: "Page Background Image Overlay"; }
  /* prettier-ignore */
  .page-customCode .messageOverlay.hidden:only-child:before { content: "Custom Code"; }
}

/*
* ##########################################################
* # Page Builders Custom Layout Editor
* ##########################################################
*/
#EN__RootElement {
  .pboAdvancedRow__preview {
    .en__component--advrow {
      display: grid !important;
      grid-template-rows:
        [
        page-start page-alert-start] minmax(0, auto) [page-alert-end
        content-header-start] minmax(0, auto) [content-header-end
        body-headerOutside-start] minmax(0, auto) [body-headerOutside-end
        body-header-start] minmax(0, auto) [body-header-end
        body-title-start] minmax(0, auto) [body-title-end
        body-banner-start] minmax(0, auto) [body-banner-end
        body-bannerOverlay-start] minmax(0, auto) [body-bannerOverlay-end
        body-top-start] minmax(0, auto) [body-top-end
        body-side-start] minmax(0, auto) [body-side-end
        body-main-start] minmax(0, auto) [body-main-end
        body-bottom-start] minmax(0, auto) [body-bottom-end
        body-footer-start] minmax(0, auto) [body-footer-end
        body-footerOutside-start] minmax(0, auto) [body-footerOutside-end
        content-footerSpacer-start] minmax(0, auto) [content-footerSpacer-end c
        ontent-preFooter-start] minmax(0, auto) [content-preFooter-end
        content-footer-start] minmax(0, auto) [content-footer-end
        page-backgroundImage-start] minmax(0, auto) [page-backgroundImage-end
        page-backgroundImageOverlay-start] minmax(
          0,
          auto
        ) [page-backgroundImageOverlay-end page-end
        page-customCode-start] minmax(0, auto) [page-customCode-end
        ] !important;
    }

    .en__component--advrow,
    .en__component--advrow .pseudo-subgrid {
      /* autoprefixer grid: off */
      grid-template-columns:
        [
        pc-start lpc-start] minmax(25px, 1fr) [lpc-end
        cc-start lcc-start] minmax(25px, 1fr) [lcc-end
        bc-start lbc-start] minmax(25px, 2fr) [lbc-end
        rbc-start] minmax(25px, 2fr) [rbc-end bc-end
        rcc-start] minmax(25px, 1fr) [rcc-end cc-end
        rpc-start] minmax(25px, 1fr) [rpc-end pc-end
        ] !important;

      // grid-template-columns: [
      //   pc-start lpc-start lpc-end cc-start lcc-start lcc-end bc-start lbc-start lbc-end] auto [rbc-start rbc-end bc-end rcc-start rcc-end cc-end rpc-start rpc-end pc-end
      // ]
    }

    /* Page builder adds a hidden div to the bottom of the layout, this can result in undesired spacing */
    .en__component--row:nth-last-child(2) {
      padding-bottom: 0px;
    }

    // Vertically center the labels
    .en__component--advcolumn {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    /* Something in EN is causing outlines to overlap, this prevents the issue */
    .en__component--column {
      margin-bottom: 1px;

      &:before {
        padding: 0.5rem 0;
      }

      &.page-alert:before {
        content: "Page Alert";
      }

      &.content-header:before {
        content: "Content Header";
      }

      &.body-headerOutside:before {
        content: "Body Header Outside";
      }

      &.body-header:before {
        content: "Body Header Spacer";
      }

      &.body-title:before {
        content: "Body Title";
      }

      &.body-banner:before {
        content: "Body Banner";
      }

      &.body-bannerOverlay:before {
        content: "Body Banner Overlay";
      }

      &.body-top:before {
        content: "Body Top (Copy)";
      }

      &.body-side:before {
        content: "Body Side (Legacy)";
      }

      &.body-main:before {
        content: "Body Main (Form)";
      }

      &.body-bottom:before {
        content: "Body Bottom (Copy)";
      }

      &.body-footer:before {
        content: "Body Footer Spacer";
      }

      &.body-footerOutside:before {
        content: "Body Footer Outside";
      }

      &.content-footerSpacer:before {
        content: "Content Footer Spacer";
      }

      &.content-preFooter:before {
        content: "Content Pre Footer";
      }

      &.content-footer:before {
        content: "Content Footer";
      }

      &.page-backgroundImage:before {
        content: "Page Background Image";
      }

      &.page-backgroundImageOverlay:before {
        content: "Page Background Image Overlay";
      }

      &.page-customCode:before {
        content: "Page Custom Code";
      }
    }

    .hide {
      background-color: #ff00001a !important;
      &.pboAdvancedRow__preview .en__component--column {
        outline-color: #ff0000 !important;
        z-index: 1;
      }
    }
  }
}
