:root{  
  // TYPOGRAPHY BUTTON
  --theme-typography-button-font-family: var(--theme-typography-default-font-family);
  --theme-typography-button-color: var(--color-white);
  --theme-typography-button-font-size: var(--theme-root-font-size);
  --theme-typography-button-font-weight: initial;
  --theme-typography-button-line-height: initial;
  --theme-typography-button-background-color: var(--color-black);
  --theme-typography-button-border-width: initial;
  --theme-typography-button-border-color: var(--color-black);
  --theme-typography-button-border-radius: initial;

  // TYPOGRAPHY BUTTON:HOVER
  --theme-typography-button-hover-color: var(--theme-typography-button-color);
  --theme-typography-button-hover-background-color: var(--theme-cta-hover);
  --theme-typography-button-hover-border-color: var(--theme-cta-hover);

  // TYPOGRAPHY BUTTON:CHECKED
  --theme-typography-button-checked-color: var(--theme-typography-button-color);
  --theme-typography-button-checked-background-color: var(--theme-cta-hover);
  --theme-typography-button-checked-border-color: var(--theme-cta-hover);
}

// @TODO reconcile with definition below
button,
.button{
    font-family: var(--theme-typography-button-font-family);
    color: var(--theme-typography-button-color);
    font-size: var(--theme-typography-button-font-size);
    font-weight: var(--theme-typography-button-font-weight);
    line-height: var(--theme-typography-button-line-height);
    background-color: var(--theme-typography-button-background-color);
    border-width: var(--theme-typography-button-border-width);
    border-color: var(--theme-typography-button-border-color);
    border-radius: var(--theme-typography-button-border-radius);    
    cursor: pointer;

    &:focus,
    &:hover{
        color: var(--theme-typography-button-hover-color);
        background-color: var(--theme-typography-button-hover-background-color);
        border-color: var(--theme-typography-button-hover-border-color);
    }

    &:active{
        color: var(--theme-typography-button-checked-color);
        background-color: var(--theme-typography-button-checked-background-color);
        border-color: var(--theme-typography-button-checked-border-color);
    }
}

/* @TODO Design buttons with style (Primary, Secondary, Text Only, Outine)
 * See #3 https://medium.com/eightshapes-llc/component-examples-9c4b3bb3b308
 */

/* Buttons */
button,
.button {
  display: block;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85rem 1rem;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: var(--theme-typography-input-border-radius);
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: var(--theme-typography-button-background-color);
  color: var(--theme-typography-button-color);
}

.en__submit button,
.en__submit .button {
  margin-top: 2rem;
  background-color: var(--theme-typography-button-background-color);
  border-color: var(--theme-typography-button-border-color);
  color: var(--theme-typography-button-color);
  border-radius: var(--theme-typography-button-border-radius);
  display: block;
  font-size: calc(0.05552rem * 24);
  font-weight: 900;
  line-height: 1;
  padding: 18px 0;
}

.en__submit,
.en__submit button,
.en__submit .button {
  width: 100%;
}

.en__submit button:hover,
.en__submit button:focus,
.en__submit .button:hover,
.en__submit .button:focus,
button.primary:hover,
button.primary:focus,
.button.primary:hover,
.button.primary:focus  {
  color: var(--theme-typography-button-checked-color);
  background-color: var(--theme-typography-button-checked-background-color);
  border-color: var(--theme-typography-button-checked-border-color);
}

.arrow .en__submit button::after,
.arrow .en__submit .button::after {
  content: "→";
  float: right;
  margin-right: 1rem;
  opacity: 0.9;
}

.arrow .en__submit button:disabled::after,
.arrow .en__submit .button:disabled::after {
  display: none;
}

.next-step .en__submit button,
.next-step .en__submit .button {
  width: initial;
  margin-left: auto;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: var(--theme-typography-button-checked-background-color);
}

button[disabled],
button[disabled]:hover,
button[disabled]:focus
.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus {
  content: "Processing...";
}

button[disabled],
.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(1);
}
