// Grayscale Utility Classes
.grayscale,
.grayscale-image img,
.grayscale-image picture,
.grayscale-video video,
img.grayscale-image picture.grayscale-image,
video.grayscale-video {
  filter: grayscale(100%);
}
