.en__pg{
    .en__pg__body {
        display: grid;
        grid-template-columns: min-content min-content 1fr;
        grid-template-rows: min-content;
        grid-auto-columns: min-content;
        grid-auto-rows: min-content;
        gap: 0px 0px;
        grid-auto-flow: row;
        align-items: center;
        grid-template-areas: "en__pg__select en__pg__display en__pg__detail";
    }

    &:first-child .en__pg__body{
        padding: calc(var(--fields_spacing-block) * 2) calc(var(--fields_spacing-inline) * 2) var(--fields_spacing-block);
    }

    &:not(:first-child):not(:last-child) .en__pg__body{
        
    }

    &:last-child .en__pg__body{
        padding: var(--fields_spacing-block) calc(var(--fields_spacing-inline) * 2) calc(var(--fields_spacing-block) * 2)
    }
}
  
.en__pg__select {
    align-self: center;
    grid-area: en__pg__select;
}
  
.en__pg__display {
    grid-area: en__pg__display;
}
  
.en__pg__detail {
    grid-area: en__pg__detail;
}
  
  
.en__pg__images img{
    margin: 0; // Do not "auto center" the image
    width: auto; // Force the width to be its native size rather than 100% 
    max-width: 25%; // Prevent the image from being too large
    min-width: 75px; // Prevent the image from being too small
}

.en__pg__select{
    padding: 0 calc(var(--fields_spacing-inline) * 2) 0 0;
}

.en__pg__display{
    padding: 0 calc(var(--fields_spacing-inline) * 2) 0 0;
}

.en__pg__detail{
    padding: 0;     
}

.en__pg__name{
    margin-top: 0;
}

.en__pg__optionType{
    display: flex;
}

.en__pg__optionType select{
    width: auto;
}

.en__pg--selected .en__pg__image--selected{
    outline-color: var(--color_primary_overlay);
}

.en__pgList[data-nogift] .en__pg:last-of-type .en__pg__display{
    flex-basis: 0;
    padding: 0;
}