#enModal,
#ieModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2147483645;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100%;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &.exitModal {
    background-color: rgba(0, 0, 0, 0.85);
    color: var(--color-white);
  }

  &.upsellModal .button-close {
    &:before,
    &::after {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &.exitModal .button-close {
    &:before,
    &::after {
      background-color: rgba(0, 0, 0, 1);
    }
  }

  &.is-hidden {
    top: -500vh;
    transition: none; /* When the modal gains the "is-hidden" class it will dissapear instantly */
  }

  .button-close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 24px;
    height: 24px;
    opacity: 0.6;
    -webkit-transition: 0.3s opacity ease-in-out;
    transition: 0.3s opacity ease-in-out;
    @include to(2) {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
    &:before,
    &::after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 24px;
      width: 3px;
    }
    &:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  .enModal-container,
  .ieModal-container {
    max-width: 820px;
    border-radius: var(--default-input-border-radius);
    background-color: var(--default-body-background-color);
    color: var(color-black);
    z-index: 100;
    position: relative;

    h1 {
      font-size: 48px;
      font-weight: 900 !important;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -1px;
      text-transform: uppercase;
    }

    .highlight {
      background-color: var(--default-highlight-background-color);
      color: var(--default-highlight-font-color);
      padding: 0.15em;
      display: inline-block;
    }

    .highlight:before {
      margin-bottom: -0.41rem;
      content: "";
      display: block;
      height: 0;
      width: 0;
    }

    .highlight::after {
      margin-top: -0.37em;
      content: "";
      display: block;
      height: 0;
      width: 0;
    }

    .title {
      color: var(--color-black);
    }
    .accent {
      color: var(--default-cta);
    }
    .cta {
      cursor: pointer;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
    }
    .img {
      position: absolute;
      bottom: 0px;
      right: 0;
      z-index: 101;
      @include to(2) {
        bottom: -80px;
        max-height: 250px;
      }
    }
    .cta-groups {
      display: flex;
    }
    .cta-groups.column {
      flex-direction: column;
    }
    .cta-groups.row {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .cta-groups.center {
      align-items: center;
      justify-content: center;
    }
    .cta-groups .group {
      flex-grow: 1;
      display: flex;
    }
  }
  &.exitModal #enModalContent {
    padding: 4rem;
    .cta-groups .group {
      flex-direction: row;
      margin-left: 1rem;
      margin-right: 1rem;

      &.primary {
        justify-content: flex-end;
        button {
          margin: 0;
          padding: 18px;
        }
      }
      &.secondary {
        justify-content: flex-start;
        text-align: center;
      }
    }
  }

  &.upsellModal #enModalContent {
    display: flex;
    flex-direction: row;

    .modal-left-column {
      flex-basis: 50%;
      background-size: cover;
      background-position: left center;
    }

    .modal-right-column {
      background-color: #2e2e2c;
      flex-basis: 50%;
      padding: var(--default-spacing-lg);
      text-align: center;
      .cta-groups .group {
        flex-direction: column;
        &.primary {
          margin-bottom: 50px;
          button {
            padding: 18px;
          }
        }
      }
    }

    @include to(2) {
      flex-direction: column;

      .modal-left-column {
        display: none;
      }
    }
  }

  .cta.primary {
    width: 100%;
    max-width: 230px;
  }

  .dark-background {
    h1,
    p,
    a {
      color: #ffffff;
    }
  }
  .ieModal-container {
    .button-close {
      right: 15px;
      top: 5px;
      &:before,
      &::after {
        background-color: #000000;
      }
    }
  }
  #ieModalContent {
    padding: 20px 30px;
  }
}
