#en__pagebuilder {
  .checkbox-label {
    display: block;
    position: relative;
    background-color: #0000ff1a;

    &::after {
      content: "Checkbox Label";
      display: block;
      color: lightgoldenrodyellow;
      background-color: lightcoral;
      padding: 5px;
      border-radius: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
body:not(#en__pagebuilder) .checkbox-label {
  display: none;
}
.engrid-custom-checkbox-label {
  width: 100%;
  box-sizing: border-box;
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
