body[data-engrid-page-type="e-card"][data-engrid-embedded-ecard="true"] {
  .en__errorHeader,
  .en__errorList {
    display: none;
  }

  // Hide all page sections except body-main
  .en__component--advrow > div:not(.body-main) {
    display: none;
  }

  // Hide all elements in body-main except the ecard component.
  .body-main > *:not(.en__component--ecardblock) {
    display: none;
  }

  .body-main {
    padding: 0;
    grid-row: 1 / -1;
    width: 100%;
    max-width: 100%;
  }

  .en__component--ecardblock {
    width: 100%;
    max-width: 100%;
  }

  .en__ecardrecipients__name,
  .en__ecardrecipients__email {
    input {
      width: 100%
    }

    .en__ecarditems__addrecipient {
      display: none;
    }
  }

  .en__ecardrecipients__list {
    display: none;
  }
}

body:not(#en__pagebuilder):not([data-engrid-debug]):not([data-engrid-embedded-ecard-sent="true"]) {
  .showif-embedded-ecard-sent {
    display: none;
  }
}
