// If someone insert an image into the Body Banner using the WYSIWYG Text Block it will wrap the image in a P tag that has its own margin. This removes the margin in that circumstance.
.body-banner > .en__component--copyblock > p:only-child {
  margin: 0;
}

// For lazy loaded banner images, use a placeholder color to indicate something is coming
// @TODO Doesn't actually do what it's supposed to, possibly because of the placeholder transparent data uri
.body-banner img {
  min-width: 100%; // For images with a native size that is smaller than the area it's being displayed in
  &[data-src] {
    background-color: var(--engrid__body-banner_background-color);
  }

  &[height] {
    height: auto !important;
  }
}

@mixin engrid_mobile-banner {
  // If there is content in the body-title, hide the body-bannerOverlay on mobile
  body[data-engrid-has-body-title] .en__component--advrow .body-bannerOverlay {
    display: none;
  }

  // If there is no content in body-title, make the body-bannerOverlay act as the body-title
  body:not([data-engrid-has-body-title])
    .en__component--advrow
    .body-bannerOverlay {
    grid-row: body-title;

    > * {
      padding: var(--engrid__body-top_padding);
      width: 100%;
    }
  }
}
