/************************************
   * Utility: Hide Display
   * // Depends on corresponding JS library
   * .simple_country_select
   ***********************************/
#en_custom_field_simple_country_select_long a,
#en_custom_field_simple_country_select_short a {
  cursor: pointer;
}

#en_custom_field_simple_country_select_short {
  display: none;
  @media (max-width: 600px) {
    display: initial;
  }
}

.en__component--formblock.country-select-visible
.en__field--address1
span {
  display: none;
}
body:not(#en__pagebuilder) .simple_country_select {
  .en__field--country {
    display: none;
  }

  &.country-select-visible .en__field--country {
    display: flex;
  }
}
.country-select-visible #en_custom_field_simple_country_select_short,
.country-select-visible #en_custom_field_simple_country_select_long {
  display: none;
}
@media (max-width: 600px) {
  /* Hides long form country select */
  #en_custom_field_simple_country_select_long {
    display: none;
  }
}
